{% extends "layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

{% set serviceUrl = "/alpha-prototype-1" %}

{% block pageTitle %}
  {{ serviceName }} - Are you able to contact the other parent??
{% endblock %}

{% block beforeContent %}
    {{ 
        govukPhaseBanner({
            tag: {
                text: "PROTOTYPE"
            },
            html: ''
        }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="in-contact">

        {{ 
            govukRadios({
                idPrefix: "in-contact",
                name: "in-contact",
                fieldset: {
                    legend: {
                        text: "Are you able to contact the other parent?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--xl"
                    }
                },
                items: [
                    {
                    name: "yes",    
                    value: "yes",
                    text: "Yes",
                    checked: true if data['in-contact'] == "yes"
                    },
                    {
                    name: "no",    
                    value: "no",
                    text: "No",
                    checked: true if data['in-contact'] == "no"
                    }
                ]
        }) 
    }}

        {{ 
            govukButton({
                text: "Continue"
            }) 
        }}
        </form>
    </div>
  </div>
{% endblock %}

