{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>



        <h1 class="govuk-heading-xl">Check your answers</h1>
        <table class="govuk-table">
            <caption class="govuk-table__caption"></caption>
            <br>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <br>
                    <th class="govuk-table__header" scope="col">Questions</th>
                    <th class="govuk-table__header" scope="col">Answers</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

<tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Do you need a calculation for more than one child maintenance arrangement?</th>
    <td class="govuk-table__cell">DUMMY DATA</td>
    <td class="govuk-table__cell">
        <a href="">Change</a>
    </td>
</tr>

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">How many children will you be paying child maintenance for?</th>
                    <td class="govuk-table__cell">DUMMY DATA</td>
                    <td class="govuk-table__cell">
                        <a href="">Change</a>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">How often does john overnight with you?
                    </th>
                    <td class="govuk-table__cell">DUMMY DATA</td>
                    <td class="govuk-table__cell">
                        <a href="">Change</a>
                    </td>

                </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">How often does james overnight with you?
                        </th>
                        <td class="govuk-table__cell">DUMMY DATA</td>
                        <td class="govuk-table__cell">
                            <a href="">Change</a>
                        </td>
                    
                    </tr>

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Do you receive any government benefits or State Pension?</th>
                    <td class="govuk-table__cell">DUMMY DATA</td>
                    <td class="govuk-table__cell">
                        <a href="">Change</a>
                    </td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">What is your total taxable income?</th>
                    <td class="govuk-table__cell">DUMMY DATA</td>
                    <td class="govuk-table__cell">
                        <a href="">Change</a>
                    </td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Is this amount weekly, monthly or yearly?</th>
                    <td class="govuk-table__cell">DUMMY DATA</td>
                    <td class="govuk-table__cell">
                        <a href="">Change</a>
                    </td>

                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">How many other children live with you?</th>
                    <td class="govuk-table__cell">DUMMY DATA</td>
                    <td class="govuk-table__cell">
                        <a href="">Change</a>
                    </td>

                </tr>
                
            </tbody>
        </table>

        <a href="personalise" role="button" draggable="false" class="govuk-button">
            Continue
        </a>

    </div>
</div>
{% endblock%}
