{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Feedback survey</h1>

<p>There are 8 questions in this survey. We estimate it will take less than five minutes to complete. Your feedback will
help us to improve this website.
</p>

<a href="q1" role="button" draggable="false" class="govuk-button">
    Start survey
</a>

        </div>
        </div>
        {% endblock %}