{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        Your child maintenance
                        <br> calculation is
                        <br>
                        <strong> £40 a week</strong>
                        or
                        <strong>£173 a month</strong>

                    </div>
                </div>

                <div>
                    <p>These figures can be used to agree an arrangement between you and the other parent for your children.
                    </p>
                    <p>The Child Maintenance Service uses rules to make sure payments are split fairly between children and adjusted if they stay
                    overnight with the paying parent.</p>
<!-----------------------------2 cases scenario table 1---------------------------------------------------------->
                    {% from "table/macro.njk" import govukTable %}

                        {{ govukTable({
                          captionClasses: "govuk-heading-s",
                          caption: "Your calculation per child",
                          firstCellIsHeader: true,
                          head: [
                            {
                              text: "Child"
                            },
                            {
                              text: "Month",
                              format: "numeric"
                            },
                            {
                              text: "Week",
                              format: "numeric"
                            }
                          ],
                          rows: [
                            [
                              {
                                text: "A"
                              },
                              {
                                text: "£115",
                                format: "numeric"
                              },
                              {
                                text: "£30",
                                format: "numeric"
                              }
                            ],
                            [
                              {
                                text: "B"
                              },
                              {
                                text: "£57",
                                format: "numeric"
                              },
                              {
                                text: "£10",
                                format: "numeric"
                              }
                            ]
                          ]
                        }) }}

  <!--------------------------2 cases scenario table 2--------------------------------------------->

  <!-- {% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        captionClasses: "govuk-heading-l",
        caption: "Receiving parent 2",
        firstCellIsHeader: true,
        head: [
          {
            text: ""
          },
          {
            text: "Week",
            format: "numeric"
          },
          {
            text: "Month",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "ChildName3"
            },
            {
              text: "£A",
              format: "numeric"
            },
            {
              text: "£B",
              format: "numeric"
            }
          ],
          [
            {
              text: "ChildName4"
            },
            {
              text: "£A",
              format: "numeric"
            },
            {
              text: "£B",
              format: "numeric"
            }
          ],
          [
            {
              text: "ChildName5"
            },
            {
              text: "£A",
              format: "numeric"
            },
            {
              text: "£B",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total"
            },
            {
              text: "£0",
              format: "numeric",
              classes: "govuk-!-font-weight-bold"
            },
            {
              text: "£0",
              format: "numeric",
              classes: "govuk-!-font-weight-bold"
            }
          ]
        ]
      }) }}  -->

           <!--<p><a href="saved-copy">Download a copy of your answers and calculation (downloads a PDF)</a> to save or share with the other parent.</p>

                    <p>If you need to you can
                        <a href="your-name-1">make another calculation</a>.</p>-->

                </div>


                    <p>Based on the information you provided, this is what the Child Maintenance Service would calculate as an appropriate maintenance
                    amount.</p>
                    <p><a href="">Download a copy of your answers and calculation (downloads a PDF)</a> to save or share with the other parent.</p>

                    <p>If you need to you can <a href="">make another calculation</a>.
</p>
                <h2 class="govuk-heading-m">Next steps</h2>

                <p>You can now agree how you will share the costs of raising your children. Use this calculation as a starting
                    point.
                </p>
                <p>Your arrangement can include whatever works for both parents.</p>

                <p>For example you could agree to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>share care of the children</li>
                    <li>split the cost of specific items</li>
                    </ul>
                      <p>Or you could agree that one parent will pay:</p>
                                    <ul class="govuk-list govuk-list--bullet">

                    <li>some of their income to the parent the children live with</li>
                    <li>for things like housing costs, uniform, clothes, school trips or after school clubs</li>

                </ul>

                <p>No one else is involved, and the arrangement can be flexible to your circumstances.
                </p>
<p>If you agree to a financial arrangement, there are several <a href="">ways to pay child maintenance</a>.</p>
<p>If you need help to make an arrangement, <a href="">contact Child Maintenance Options</a>.
</p>
            </div>
     
        </div>
        
        </div>
        
        
        </div>
        
        
        </div>
</div>
</main>

{% endblock %}
