{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        Your child maintenance
                        <br> calculation is
                        <br>
                        <strong> £40 a week</strong>
                        or
                        <strong>£173 a month</strong>

                    </div>
                </div>

                <div>
                    <p>These figures can be used to agree an arrangement between you and the other parent for your children.
                    </p>
                    <p>The Child Maintenance Service uses rules to make sure payments are split fairly between children and adjusted if they stay
                    overnight with the paying parent.</p>
<!-----------------------------2 cases scenario table 1---------------------------------------------------------->
                    {% from "table/macro.njk" import govukTable %}

                        {{ govukTable({
                          captionClasses: "govuk-heading-s",
                          caption: "Your calculation per child",
                          firstCellIsHeader: true,
                          head: [
                            {
                              text: "Child"
                            },
                            {
                              text: "Month",
                              format: "numeric"
                            },
                            {
                              text: "Week",
                              format: "numeric"
                            }
                          ],
                          rows: [
                            [
                              {
                                text: "A"
                              },
                              {
                                text: "£115",
                                format: "numeric"
                              },
                              {
                                text: "£30",
                                format: "numeric"
                              }
                            ],
                            [
                              {
                                text: "B"
                              },
                              {
                                text: "£57",
                                format: "numeric"
                              },
                              {
                                text: "£10",
                                format: "numeric"
                              }
                            ]
                          ]
                        }) }}

  <!--------------------------2 cases scenario table 2--------------------------------------------->

  <!-- {% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        captionClasses: "govuk-heading-l",
        caption: "Receiving parent 2",
        firstCellIsHeader: true,
        head: [
          {
            text: ""
          },
          {
            text: "Week",
            format: "numeric"
          },
          {
            text: "Month",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "ChildName3"
            },
            {
              text: "£A",
              format: "numeric"
            },
            {
              text: "£B",
              format: "numeric"
            }
          ],
          [
            {
              text: "ChildName4"
            },
            {
              text: "£A",
              format: "numeric"
            },
            {
              text: "£B",
              format: "numeric"
            }
          ],
          [
            {
              text: "ChildName5"
            },
            {
              text: "£A",
              format: "numeric"
            },
            {
              text: "£B",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total"
            },
            {
              text: "£0",
              format: "numeric",
              classes: "govuk-!-font-weight-bold"
            },
            {
              text: "£0",
              format: "numeric",
              classes: "govuk-!-font-weight-bold"
            }
          ]
        ]
      }) }}  -->

           <!--<p><a href="saved-copy">Download a copy of your answers and calculation (downloads a PDF)</a> to save or share with the other parent.</p>

                    <p>If you need to you can
                        <a href="your-name-1">make another calculation</a>.</p>-->

                </div>

                    <p>If you get a benefit or State Pension and care for the children more than 52 nights a year, the Child Maintenance Service
                    may reduce your payment amount to £0.</p>

                    <p>Based on the information you provided, this is what the Child Maintenance Service would calculate as an appropriate maintenance
                    amount.</p>
                    <p><a href="">Download a copy of your answers and calculation (downloads a PDF)</a> to save or share with the other parent.</p>

                    <p>If you need to you can <a href="">make another calculation</a>.
</p>
                <h2 class="govuk-heading-m">Next steps</h2>

                <p>You can now agree how you will share the costs of raising your children. Use this calculation as a starting
                    point.
                </p>
                <p>Your arrangement can include whatever works for both parents.</p>

                <p>For example you could agree to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>share care of the children</li>
                    <li>split the cost of specific items</li>
                    </ul>
                      <p>Or you could agree that one parent will pay:</p>
                                    <ul class="govuk-list govuk-list--bullet">

                    <li>some of their income to the parent the children live with</li>
                    <li>for things like housing costs, uniform, clothes, school trips or after school clubs</li>

                </ul>

                <p>No one else is involved, and the arrangement can be flexible to your circumstances.
                </p>

                <p>Some parents find it useful to
                    <a href="https://www.cmoptions.org/en/toolbox/maintenance-form.asp" target="_blank">write down their arrangement (opens in a new window or tab)</a> so they have something to refer back
                    to.
                </p>

                  <h2 class="govuk-heading-m">How and when to make payments</h2>
                  <p>If you agree to a financial arrangement there are several ways to pay child maintenance. The most suitable will depend on
                  your circumstances.
</p>

<p>If you have agreed on fixed regular payments, you could set up a standing order. This is where money is sent directly from
one person’s bank or building society account to another person’s account.
</p>

<p>A standing order can help both parents to plan and manage their finances, and keep a record of payments made.
</p>

<p>If you have agreed to more flexible payments, these could be made by bank transfer, cheque, or pre-paid credit card.
</p>

<h3 class="govuk-heading-m">If you need help making an arrangement
</h3>

<p>Speak to Child Maintenance Options if you need more help.
</p>

<div class="govuk-inset-text">
   Telephone: 0800 953 0191<br>
   <br>
   Monday to Friday, 8am to 8pm<br>
   <br>
   <a href="">Find out about call charges</a>

</div>

<p>This free service gives support and information to help separated parents make their own child maintenance arrangements.
</p>
<p>You could also ask a friend or family member to help you, or <a href="">find a professional family mediator (opens in a new window or
tab)</a>.</p>

<p>If both parents still cannot agree, or something else is stopping you making your own arrangement, <a href="">the Child Maintenance
Service</a> may be able to help you.
</p>
<h4 class="govuk-heading-m">Tell us what you think about this website
</h4>
<p>Please <a href="">answer some questions</a> about your experience on this website. Your responses will help us make it better.
</p>
            </div>
        <div class="govuk-grid-column-one-third">
        
          
          <div class="gem-c-contextual-sidebar">
        <div class="promo-image" id="promo">
          <div class="promo-content">
            <h3 class="survey-heading">
        
              <div class="feedback-link" a href="feedback">Tell us what you think about this website</div>
        
            </h3>
            <p>Help us improve this service by
              <a href="q1">giving your feedback</a>.</p>
          </div>
        </div>
        
            <div class="gem-c-related-navigation">
              <h2 id="related-nav-related_items-ed61ce7e" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
                Related content
              </h2>
        
        
        
        
              <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-ed61ce7e"
                data-module="gem-toggle">
        
        <p>You may find it useful to download these PDF guides:</p>
                <ul class="gem-c-related-navigation__link-list" data-module="track-click">
        
        
        
                  <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="raising-child">Work out the cost of raising a child</a>
                  </li>
                  <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="discussion-guide">Child maintenance discussion guide</a>
                  </li>
                  <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="arrangement-tool">Child maintenance arrangement tool</a>
                  </li>
                </ul>
              </nav>
        
        
        
              <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-ed61ce7e" data-module="gem-toggle">
        
                <h3 id="related-nav-topics-ed61ce7e" class="gem-c-related-navigation__sub-heading">
                  Explore the topic
                </h3>
        
                <ul class="gem-c-related-navigation__link-list">
        
        
                  <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.1 Explore the topic"
                      data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Financial help if you have children&quot;}"
                      href="/browse/childcare-parenting/financial-help-children">Marriage, civil partnership and divorce</a>
                  </li>
                  <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.2 Explore the topic"
                      data-track-label="/browse/benefits/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                      href="/browse/benefits/child">Divorce, separation and legal issues</a>
                  </li>
                  <li class="gem-c-related-navigation__link">
                    <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.3 Explore the topic"
                      data-track-label="/browse/births-deaths-marriages/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                      href="/browse/births-deaths-marriages/child">Having a child, parenting and adoption</a>
                  </li>
        
                </ul>
              </nav>
            </div>
        
        
          </div>
          
         
        </div>
        
        </div>
        
        
        </div>
        
        
        </div>
</div>
</main>

{% endblock %}
