{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <!--<h1 class="govuk-heading-xl">Do any of these children ever stay overnight with you?</h1>-->

        <form method="post" action="children-overnight-stay">

            {{ govukRadios({
                  idPrefix: "children-overnight-stay",
                  name: "children-overnight-stay",
                  fieldset: {
                    legend: {
                      text: "Do any of these children ever stay overnight with you?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl" } },
                items: [ {
                value: "yes~/v20/live-prototype/single/2-child-name",
                text: "Yes" },
              {
                value: "no~/v20/live-prototype/single/parent-share-second-receiving",
                text: "No"
              }
            ]
          }) }}

            {{ govukButton({ text: "Continue" }) }}
        </form>

          <!--  <a href="2-child-name" role="button" class="govuk-button">
                Continue
            </a>-->

        </div>
        {% endblock %}
