{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V5" }, html: '' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Arrange child maintenance payments</h1>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Arranging payments yourselves</h2>
        <p>You can arrange payments yourselves, if you can agree. This is called a &#146;family-based arrangement&#8217;.</p>
        <p>You agree how much the financial contributions should be and when they should be made.</p>

        <p>No one else is involved, and it can be flexible to your circumstances.</p>

        <div class="govuk-inset-text">
            <a href="fba.html">Get more information</a> about arranging payments yourselves.</p>
        </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Using the Child Maintenance Service (CMS)</h2>
        <p>If you cannot agree payments yourselves, you can contact the CMS.
            </p>

        <p>The CMS will work out how much child maintenance should be paid and it can arrange for the money to be paid, if you want
            it to. There is a £20 fee for using the CMS, unless you are under 19, a victim of domestic abuse or in Northern
            Ireland.</p>

                     <p>                            The £20 fee does not guarantee an arrangement for child maintenance payments.
                     </p>

<h3 class="govuk-heading-m">If child maintenance payments are not made</h3>
        <p>If you use the CMS, there might be other fees to pay on top of regular payments.</p>
            <div class="govuk-inset-text">
                <a href="phone.html">Get more information</a> about using the CMS.</p>
        </div>
    </div>

    {% endblock %}
