{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/" %} {% block pageTitle %} {{ serviceName }}  {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V5" }, html: '' }) }} {% endblock%} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">How much do you spend on food for the baby each month?</h1>


        <form method="post" action="food">
{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: ""
  },
   hint: { text: "For example £30" },

  classes: "govuk-input--width-10",
  id: "food",
  name: "food"
}) }}

                      {{           govukButton({ 
                        href: "baby-childcare",
                                     text: "Continue"
            }) }}

        </form>


    </div>
</div>
{% endblock %}