{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-1" %} {% block pageTitle %} {{ serviceName }} - {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "V4" }, html: '' }) }} {% endblock%} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-xl">Charges for using the child maintenance service</h1>

<h2 class="govuk-heading-m">Direct Pay</h2>
<p>If you use Direct Pay you will pay a £20 application fee unless you are:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>under 19</li>
  <li>in Northern Ireland</li>
  <li>a victim of domestic abuse</li>
</ul>


<p>Direct Pay is for when parents cannot agree, or have tried a family-based arrangement and it has stopped working.</p>

<p>The Child Maintenance Service works out the payment amount, then you can make your own payment arrangement if you both agree.
  Both parents will be told what should be paid and when.</p>

  <p>It is the responsibility of the parent to arrange how the payments are made.</p>




<p>There may be further fees if you need the child maintenance service to enforce payments.</p>

<h3 class="govuk-heading-m">Collect and Pay</h3>

<p>If you decide to use the Collect and Pay service you’ll have to pay a £20 application fee and further fees for collecting
  and paying out child maintenance.</p>

<p>Using Collect and Pay the Child Maintenance Service works out the payment amount, then arranges to collect
   and pass on payments. They will arrange this around when the paying parent is paid their wages, pension or benefits.</p>

     

<ul class="govuk-list govuk-list--bullet">
  <li>paying parents will pay a 20% fee on top of their regular child maintenance payment
</li>

<li>receiving parents will have a 4% fee deducted from their regular child maintenance payment
</li>

</ul>

<p>For example if the child maintenance service calculated the amount to be paid each month to be £50, 
  the paying parent would pay £60 per month. The recieving parent would receive £48 per month.</p>
<p>Over 12 months you would pay £144 in fees for using Collect and Pay.</p>

<p>You will not have to pay any fees if you choose to <a href="fba">make your own arrangement</a>.
</p>
<div class="govuk-inset-text">

   <p> <a href="resident">Check if you're eligible for the Child Maintenance service</a>
</p>
</div>



</div>
        </div>
         {% endblock%}