{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/" %} {% block pageTitle %} {{ serviceName }} - Arranging child maintenence yourself
{% endblock %} {% block beforeContent%} {{ govukPhaseBanner({ tag: { text: "Experimental" }, html: '' }) }} {% endblock %}{%
block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">
            You are eligible to apply for the Child Maintenance service
        </h1>
<h2 class="govuk-heading-m">Applying to the Child Maintenance service</h2>

<p>You are eligible to apply to the Child Maintenance service.</p>
<p>There is a £20 application fee when you apply, unless you are under 19, a victim of domestic abuse or in Northern Ireland. 
   </p>
   <p> There will be further fees if you need the Child maintenance service 
    to collect or enforce payments. </p>

<a href="phone" role="button" draggable="false" class="govuk-button">
    Apply to the Child Maintenance service
</a>
<div class="govuk-inset-text">

        <p>You can still arrange child maintenance between yourselves, if you can agree. This is called a &#146;family-based arrangement&#8217;.</p>
</div>
        <p>There are no charges for making a family-based arrangement.
<p>Find out more about <a href="how-to-arrange">how to make an arrangement yourselves</a>.</p>


    </div>
</div>
{% endblock %}