{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% set serviceUrl = "/" %}
{% block pageTitle %} {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V6" }, html: ''
}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">
         Work out child maintenance
        </h1>
        <p>Use this calculator to get a child maintenance calculation for your circumstances. You will be able to share the result with
        the child's other parent.
</p>
<div class='govuk-inset-text'>
     The receiving parent has main day-to-day care of the child. The paying parent does not have main day-to-day care.

</div>
<p>The calculator is based on the rules used by the Child Maintenance Service.</p>
<p>Before you start you will need to know:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>whether the paying parent gets any benefits or state pensions</li>
    <li>the paying parent's total income, before tax is taken off</li>
    <li>if any other children live with the paying parent</li>

</ul>
<a href="paying-receiving" role="button" class="govuk-button govuk-button--start">
    Work out your child maintenance
</a>
        </div>
        </div>
        {% endblock %}
