{% extends "layout.html" %}
{% from "button/macro.njk" import govukButton %}

{% set serviceUrl = "/alpha-prototype-1" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {{ 
        govukPhaseBanner({
            tag: {
                text: "PROTOTYPE"
            },
            html: ''
        }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>To give you the most appropriate information, we need to ask some questions about your circumstances. </p>

        {{ 
            govukButton({
                text: "Continue",
                href: "are-both-parents-habitually-resident-in-the-uk"
            }) 
        }}

    </div>
  </div>
{% endblock %}

