{% from "button/macro.njk" import govukButton %}

<div class="box-example box-example--most-recent govuk-!-padding-9">
    
    <h2 class="govuk-heading-l">Alpha prototype </h2>

    {{ govukButton({
        text: "Linear journey",
        href: "/alpha-prototype-1/index"
    }) }}
<br>
 {{ govukButton({
     text: "Dynamic journey",
        href: "/alpha-prototype-3/start"
    }) }}
    <br>
      {{ govukButton({
        text: "Static pages",
        href: "/alpha-prototype-1/static-index"
    }) }}

</div>