{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

<div class="box-example box-example--most-recent govuk-!-padding-9">
    
    <h2 class="govuk-heading-l">Alpha prototypes </h2>
    <h3 class="govuk-heading-m">Current versions</h3>

  {{ govukButton({
     text: "Personalisation calculator journey v1",
        href: "/v11/fba"
    }) }}
<br>

  {{ govukButton({
     text: "Personalisation calculator journey v2",
        href: "/v12/fba"
    }) }}
<br>

  {{ govukButton({
     text: "V6.4",
        href: "/v10/landing-page"
    }) }}
<br>
 
 {{ govukButton({
     text: "V6.3",
        href: "/v9/landing-page"
    }) }}
<br>

 {{ govukButton({
     text: "Exit survey",
        href: "/v9/survey-start"
    }) }}
<br>

 {{ govukButton({
     text: "Downloaded calculator result",
        href: "/v9/saved-copy"
    }) }}
<br>

 {{ govukButton({
     text: "V6.2",
        href: "/v8/1"
    }) }}
<br>

 {{ govukButton({
     text: "V6.1",
        href: "/v7/1"
    }) }}
<br>

{{ govukButton({
     text: "V2 Calculator",
        href: "/calc2/start"
    }) }}
    <br>
     {{ govukButton({
     text: "V6",
        href: "/v6/1"
    }) }}
<br>
  {{ govukButton({
     text: "V5",
        href: "/v5/gov-uk"
    }) }}
<br>
  {{ govukButton({
     text: "V10",
        href: "/v10/1"
    }) }}
<br>

   {{ govukButton({
        text: "17/10/2018",
        href: "/alpha-prototype-6/govuk"
    }) }}
    <br>
  

  {{ govukButton({
     text: "V4",
        href: "/experimental/gov-uk"
    }) }}
<br>



    <h4 class="govuk-heading-m">Previous Iterations</h4>
   {{ govukButton({
        text: "V3",
        href: "/alpha-prototype-5/gov-uk"
    }) }}
    <br>

         {{ govukButton({
     text: "Comparison full journey",
        href: "/alpha-prototype-4/start"
    }) }}


    <br>
       {{ govukButton({
     text: "Comparison with features",
        href: "/alpha-prototype-4/matrix2"
    }) }}
        <br>
    {{ govukButton({
     text: "Comparison no features",
        href: "/alpha-prototype-4/checkboxes"
    }) }}
    <br>



 {{ govukButton({
     text: "Dynamic question journey v1",
        href: "/alpha-prototype-3/start"
    }) }}
    <br>
        {{ govukButton({
        text: "Linear knockout question journey",
        href: "/alpha-prototype-1/index"
    }) }}
    
<br>


</div>