{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

<div class="box-example box-example--most-recent govuk-!-padding-9">


    <h2 class="govuk-heading-l">Private Beta prototypes </h2>


<h2 class="govuk-heading-m"><a href="https://child-maintenance.awscmg-dev.dwpcloud.uk/options/opt-in">Private Beta live service</a> </h2>



    {{ govukButton({
       text: "V6.9",
          href: "/v19/user-stories"
      }) }}
      <br>

    {{ govukButton({
       text: "V6.8",
          href: "/v18/user-stories"
      }) }}

      {{ govukButton({
         text: "V6.8 - CO-305",
            href: "/v18/CO-305/paying-receiving"
        }) }}
  <br>

  {{ govukButton({
     text: "V6.7 scenarios",
        href: "/v17/scenarios"
    }) }}
<br>


  {{ govukButton({
     text: "V6.6",
        href: "/v16/landing-page"
    }) }}
<br>

  {{ govukButton({
     text: "V6.5",
        href: "/v14/landing-page"
    }) }}
<br>


  {{ govukButton({
     text: "V6.4",
        href: "/v10/landing-page"
    }) }}
<br>

    <h2 class="govuk-heading-l">Testing prototypes </h2>

      {{ govukButton({
     text: "Digital gateway 1",
        href: "/test/apply-cms"
    }) }}
<br>
      {{ govukButton({
     text: "Digital gateway 2",
        href: "/test/confirmation-gateway"
    }) }}
<br>


      {{ govukButton({
     text: "Multiple arrangements",
        href: "/test/landing-page"
    }) }}
<br>

      {{ govukButton({
     text: "income and benefits",
        href: "/v15/landing-page"
    }) }}
<br>

    <h2 class="govuk-heading-l">Alpha prototypes </h2>

  {{ govukButton({
     text: "V6.4",
        href: "/v10/landing-page"
    }) }}
<br>

 {{ govukButton({
     text: "V6.3",
        href: "/v9/landing-page"
    }) }}
<br>

 {{ govukButton({
     text: "Exit survey",
        href: "/v9/survey-start"
    }) }}
<br>

 {{ govukButton({
     text: "Downloaded calculator result",
        href: "/v9/saved-copy"
    }) }}
<br>

 {{ govukButton({
     text: "V6.2",
        href: "/v8/1"
    }) }}
<br>

 {{ govukButton({
     text: "V6.1",
        href: "/v7/1"
    }) }}
<br>


     {{ govukButton({
     text: "V6",
        href: "/v6/1"
    }) }}
<br>
  {{ govukButton({
     text: "V5",
        href: "/v5/gov-uk"
    }) }}
<br>





  {{ govukButton({
     text: "V4",
        href: "/experimental/gov-uk"
    }) }}
<br>



   {{ govukButton({
        text: "V3",
        href: "/alpha-prototype-5/gov-uk"
    }) }}
    <br>
   {{ govukButton({
        text: "V2",
        href: "/alpha-prototype-6/govuk"
    }) }}
    <br>


         {{ govukButton({
     text: "Comparison full journey",
        href: "/alpha-prototype-4/start"
    }) }}


    <br>
       {{ govukButton({
     text: "Comparison with features",
        href: "/alpha-prototype-4/matrix2"
    }) }}
        <br>
    {{ govukButton({
     text: "Comparison no features",
        href: "/alpha-prototype-4/checkboxes"
    }) }}
    <br>



 {{ govukButton({
     text: "Dynamic question journey",
        href: "/alpha-prototype-3/start"
    }) }}
    <br>
        {{ govukButton({
        text: "Linear knockout question journey",
        href: "/alpha-prototype-1/index"
    }) }}

<br>


</div>
