{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/alpha-prototype-1" %} 

{% block pageTitle %} {{ serviceName }} 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
           Static pages 
        </h1>
        <h2 class="govuk-heading-m">Content pages</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="static-pages/cannot-agree.html">If you cannot agree</a></li>
            <li><a href="static-pages/what-cms-can-do.html">What Child maintenence service can do</a></li>
            <li><a href="static-pages/cms-arrangements.html">Child Maintenence service arrangements</a></li>
            <li><a href="static-pages/not-paid.html">if Child Maintenence is not paid</a></li>
            <li><a href="questions/fba.html">FBA</a></li>
        </ul>

        <h3 class="govuk-heading-m">Question pages</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="are-both-parents-habitually-resident-in-the-uk">Habitually resident</a></li>
            <li><a href="is-there-a-court-order-for-child-maintenance-in-place">Court order</a></li>
            <li><a href="is-child-under-20">Child age</a></li>
            <li><a href="what-information-do-you-have-about-the-other-parent">Other parent</a></li>
            <li><a href="domestic-abuse">Abuse</a></li>
        </ul>
                        <a href="/index" class="govuk-back-link">Back</a>

    </div>
</div>
{% endblock %}