{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V5" }, html: '' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Arrange child maintenance payments</h1>


<p>Child maintenance is financial support to help pay for your child's everyday living costs when you are separated from the other parent.</p>

<p>Studies show that children get the best outcomes when their separated parents are able to work together – this includes working together to arrange child maintenance.</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Both parents are legally responsible for the financial costs of raising their children, even if they don’t see them.
  </strong>
</div>



        <h2 class="govuk-heading-m">Arranging payments yourselves</h2>
        <p>You can arrange payments yourselves, if you can agree.</p>
        <p>You both decide how much the financial contributions should be and when they should be made.</p>

        <p>No one else is involved, and it can be flexible to your circumstances.</p>

        <div class="govuk-inset-text">
            <a href="fba.html">Work out child maintenance</a>.</p>
        </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Using the Child Maintenance Service </h2>
        <p>If you cannot agree payments yourselves, you can contact the Child Maintenance Service for help.
            </p>

        <p>The Child Maintenance Service can work out how much child maintenance should be paid and tell both parents.</p>

        <p>There is a £20 fee for using the Child Maintenance Service, unless you are:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>under 19</li>
                <li>a victim of domestic abuse</li>
                <li>living in Northern Ireland</li>
                </ul>

                     <p> The fee does not guarantee payments for child maintenance will be made.
                     </p>

<h3 class="govuk-heading-m">If child maintenance payments are not made</h3>
        <p>The Child Maintenance Service may be able to collect the amount from the paying parent and pass it to the receiving parent – this is known as a 'Collect and Pay' arrangement. If this happens, you'll need to pay:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a 20% fee on top of your regular child maintenance payments, if you're the paying parent</li>
          <li>a 4% fee taken off your regular child maintenance payments, if you're the recieving parent.</li>
          </ul>
            <div class="govuk-inset-text">
                <a href="phone.html">Get help making or receiving child maintenance payments</a>.</p>
        </div>
    </div>

    {% endblock %}
