{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-xl">Check your eligible to apply to the Child Maintenance service</h1>
        <p>Use this service to check if you are eligible to apply to the Child Maintenance service.</p>
        <p>You will be asked questions about yourself, the other parent and the children you will be applying for.</p>

      
        <a href="live-in-uk-m" role="button" class="govuk-button govuk-button--start">
            Start now
        </a>








    </div>

         {% endblock %}