{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-xl">Check your eligible to apply to the Child Maintenance service</h1>
        <p>

        <p>You’ll need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>whether the parent who will be paying child maintenance gets any benefits, State Pension, or income</li>
            <li>if any children live with the paying parent most of the time</li>
        </ul>

        <p>Information you provide will only be used for your calculation and will not be stored. </p>

        <a href="paying-receiving" role="button" class="govuk-button govuk-button--start">
            Start now
        </a>








    </div>
    <div class="govuk-grid-column-one-third">
        <div class="gem-c-contextual-sidebar">

            <div class="promo-image" id="promo">
                <div class="promo-content">
                    <h3 class="survey-heading">

                        <div class="feedback-link" a href="feedback">Tell us what you think</div>

                    </h3>
                    <p>Help us improve this service by
                        <a href="paying-receiving">giving your feedback</a>.</p>
                </div>
            </div>

         {% endblock %}