{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <!--<form method="post" action="live-in-uk">

            {{ govukRadios({
                idPrefix: "lives-in-uk",
                name: "lives-in-uk",
                fieldset: { legend: { text: "Do you usually live in the UK?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl" } },
            items: [ {
                value: "yes",
                text: "Yes",
                checked: true if data['paying-children'] == "yes" },
                {
                value: "no",
                text: "No",
                checked: true if data['paying-children'] == "no" }

            ] }) }}
             {{ govukButton({ text: "Continue" }) }}
        </form>-->




        <form method="post" action="live-in-uk">

              <!--The below radio buttons have been routed in an alternative way
                   making the process of routing abit easier-->
            {{ govukRadios({
                  idPrefix: "lives-uk",
                  name: "lives-uk",
                  fieldset: {
                    legend: {
                      text: "Do you usually live in the UK?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl" } },
                items: [ {
                value: "yes~/v19/eligibility-content/the-journey/other-parent",
                text: "Yes" },
              {
                value: "receive~/v19/eligibility-content/the-journey/allowed-in-uk-other",
                text: "No"
              }
            ]
          }) }}

            {{ govukButton({ text: "Continue" }) }}
        </form>
    </div>
</div>
{% endblock %}
