{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Are these 3 children in full time approved education?</h1>

<p> Education must be a full-time (more than average of 12 hours a week supervised study or course-related work experience)
and can include:<br>
 A-Levels or similar, for example Pre-U, International Baccalaureate <br>Scottish Highers<br>
  NVQs and other vocational
qualifications up to level 3 <br>Home education, if started before your child turned 16<br> Traineeships in England <br>Courses are not
approved if paid for by an employer or ‘advanced’, for example a university degree or BTEC Higher National Certificate.</p>
        <form method="post" action="live-in-uk">

            {{ govukRadios({
                idPrefix: "lives-in-uk",
                name: "lives-in-uk",
                fieldset: { legend: { text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl" } },
             
            items: [ {
                value: "yes~/v25/married-civilpartnership",
                text: "Yes",
                checked: true if data['paying-children'] == "yes" },
                {
                value: "no~/v25/ineligible",
                text: "No",
                checked: true if data['paying-children'] == "no" }

            ] }) }}
             {{ govukButton({ text: "Continue" }) }}
        </form>

        </a>
    </div>
</div>
{% endblock %}
