{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="survey-start" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        What is your relationship to the child or children?
                    </h1>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-did-you-visit-1" name="why-did-you-visit" type="radio" value="england">
                        <label class="govuk-label govuk-radios__label" for="why-did-you-visit-1">
                            Parent, and the children live with me most of the time


                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-did-you-visit-2" name="why-did-you-visit" type="radio" value="scotland" >
                        <label class="govuk-label govuk-radios__label" for="why-did-you-visit-2">
                            Parent, and the children do not live with me most of the time

                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-did-you-visit-3" name="why-did-you-visit" type="radio" value="wales" >
                        <label class="govuk-label govuk-radios__label" for="why-did-you-visit-3">
                            Grandparent

                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-did-you-visit-4" name="why-did-you-visit" type="radio" value="northern-ireland" >
                        <label class="govuk-label govuk-radios__label" for="why-did-you-visit-4">
                            Third party

                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="why-did-you-visit-5" name="why-did-you-visit" type="radio" value="northern-ireland" onclick="myFunction()">
                        <label class="govuk-label govuk-radios__label" for="why-did-you-visit-5">
                            Other
                        </label>
                    </div>


                    <div class="govuk-form-group"style="display:none" id="myDIV">
                        <label class="govuk-label" for="more-detail">
                            Can you provide more detail?
                        </label>
                        <span id="more-detail-hint" class="govuk-hint">
                            Do not include personal or financial information, like your National Insurance number or credit card details.
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint"></textarea>
                    </div>
                    <a href="q2" role="button" draggable="false" class="govuk-button">
                        Continue
                    </a>
                </div>
        </div>
        
        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
                 </script>
        {% endblock %}