{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-1" %} {% block pageTitle %} {{ serviceName }} - Making an arrangement {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V2" }, html: '' })
}} {% endblock%} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Making an arrangement</h1>


<p>Child maintenance is financial support towards your child’s everyday living costs when you’ve separated from the 
    other parent. You and the other parent can arrange child maintenance yourself if you can agree.</p>



    <div id="what" name="what">
    <h2 class="govuk-heading-m">What to pay</h2>
        <p>One option for making an arrangement is for the paying parent to pay the parent with care a monthly amount to provide
            for the child. You could use the
            <a href="https://www.gov.uk/calculate-your-child-maintenance">child maintenance calculator</a> to find out how much might be a fair amount.</p>

        <p>An arrangement doesn't have to be a fixed payment amount. It could be an agreement that the paying parent could pay:</p>
        <ul class="govuk-list govuk-list--bullet">

            <li>for things like housing costs, uniforms, clothes, school trips, or after school clubs</li>
            <li>larger lump sums at certain times in the child’s life</li>
        </ul>
        </div>
    <div id="when" name="when">

        <h3 class="govuk-heading-m">When to pay</h3>
        <p>Whatever the financial arrangement is, if you choose to make your own both parents will 
            need to agree when they will be paid.</p>
                
        </div>

    <div id="agree" name="agree">

        <h3 class="govuk-heading-m">If you need help agreeing your arrangement</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Use this
                <a href="https://www.cmoptions.org/en/pdfs/refresh/family-based-arrangement-form-aug-2015.pdf">arrangement tool </a>to help you reach an agreement</li>
            <li>ask a friend or family member, or
                <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/">find a local mediator</a> 
                to support you.</li>
            <li>write down what you have agreed, so you have something to refer to</li>
        </ul>

</div>
    <div id="others" name="others">

        <h4 class="govuk-heading-m">Examples of other people's arrangements</h4>
          <p>If you need more information you can <a href="case-studies">view examples</a> of how others 
            have made arrangements themselves.</p>
</div>

        <div class="govuk-inset-text">
            Making an arrangement between yourselves might not be appropriate if you think the other parent poses a threat to you or
            your child, or if you are a victim of domestic abuse. If you feel making an arrangement could make you vulnerable,
            <a href="phone">speak to one of our agents about your options</a>.</div>


<h5 class="govuk-heading-m">If your arrangement is no longer working</h5>
<p>If you have an arrangement and it it no longer working, there are tools and guides on getting help and mediation. If you are unable to make an arrangement yourself
     can <a href="resident">apply to the Child Maintenance service</a>.</p>


    </div>
</div>



{% endblock %}