{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-1" %} {% block pageTitle %} {{ serviceName }} - Making an arrangement {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V2" }, html: '' })
}} {% endblock%} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Make an arrangement</h1>


<p>You and your child’s other parent can arrange child maintenance between yourselves, if you can agree.</p>



    <div id="what" name="what">
    <h2 class="govuk-heading-m">What to include in an arrangement</h2>
        <p>Your arrangement can include whatever works for both parents.</p>
        <p>You could agree to share care of your child, or school pick-up and drop-off responsibilities.</p>
<p>Many parents choose to make a financial arrangement. For example, the parent who does not live with the child might pay:
</p>
        <ul class="govuk-list govuk-list--bullet">

            <li>a fixed amount to the parent with care each month</li>
            <li>for specific items for the child, like uniforms, school trips, or after school activities</li>
            <li>for housing costs, like rent, mortgage payments, or household bills</li>
            <li>larger lump sums at certain times in the child’s life</li>
        </ul>

       <p>If you agree to a financial arrangement, you will also need to agree when payments will be made, and if you will review
        your arrangement in the future.</p>

        <p>You can use the <a href="https://www.gov.uk/calculate-your-child-maintenance">child maintenance calculator</a> to get an estimate of how much the Child Maintenance Service would calculate
        as a fair amount to pay.
</p>


    <div id="agree" name="agree">

        <h3 class="govuk-heading-m">If you need help to make an arrangement</h3>
        <p>There are many tools available to help you to make an arrangement yourselves. You could:
</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Use this
                <a href="https://www.cmoptions.org/en/pdfs/refresh/family-based-arrangement-form-aug-2015.pdf" target="_blank">arrangement tool </a>to help you reach an agreement</li>
            <li>ask a friend or family member, or
                <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/"target="_blank">find a local mediator</a> 
                to support you.</li>
            <li>write down what you have agreed, so you have something to refer to</li>
        </ul>

</div>
    <div id="others" name="others">

        <h4 class="govuk-heading-m">Case studies</h4>
          <p> This collection of <a href="case-studies">child maintenance case studies </a>show how 
              other people have made their own child maintenance arrangements. </p>
</div>
<h5 class="govuk-heading-m">If you are vulnerable</h5>
        <div class="govuk-inset-text">
            Making an arrangement between yourselves might not be appropriate if you think the other parent poses a threat to you or
            your child, or if you are a victim of domestic abuse. If you feel making an arrangement could make you vulnerable,
            <a href="phone">speak to one of our agents about your options</a>.</div>


<h5 class="govuk-heading-m">If your arrangement is no longer working</h5>
<p>If you have an arrangement and it it no longer working, there are tools and guides on getting help and mediation. 
    If you are unable to make an arrangement yourself
     can <a href="resident">apply to the Child Maintenance service</a>. There is a £20 fee to apply</p>


    </div>
</div>



{% endblock %}