{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/alpha-prototype-1" %} 
{% block pageTitle %} 
{{ serviceName }} - Do you get any of these benefits or state pensions?
{% endblock %} 

{% block beforeContent %} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V2" }, html: '' }) }} 
{% endblock%} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">What is an arrangement?</h1>

<p>Using the Child Maintenance Service is not compulsory and you can make an arrangement between yourselves.</p>

<h2 class="govuk-heading-m">Arranging child maintenance between yourselves</h2>

<p>There are many ways to arrange child maintenance between yourselves.
</p>

<p>For example, you could agree to share care of the child, or that the non-resident parent will pay a proportion of their income to the parent with care.</p>
<p>Or the non-resident parent could pay:</p>
<ul class="govuk-list govuk-list--bullet">

    <li>for things like housing costs, uniforms, clothes, school trips, or after school clubs</li>
    <li>larger lump sums at certain times in the child’s life</li>
</ul>
<p>If you choose to make your own financial arrangement, both parents will need to agree:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>how much financial contributions will be</li>
    <li>when they will be paid</li>
    <li>how payments will be made</li>
</ul>
<p>You could also agree to review or change your arrangement in the future.</p>
<h2 class="govuk-heading-m">Calculate child maintenance</h2>
<p>You could use the <a href="https://www.gov.uk/calculate-your-child-maintenance">child maintenance calculator</a> to find out how much might be a fair amount, or use this <a href="https://www.cmoptions.org/en/pdfs/refresh/family-based-arrangement-form-aug-2015.pdf">arrangement tool</a>
to help you decide how you will share the support of your child. You will be able to share the results with the other parent.</p>
<h3 class="govuk-heading-m">Make your own arrangement</h3>

<p>This <a href="https://www.cmoptions.org/en/pdfs/refresh/discussion-guide.pdf">discussion guide</a> contains steps to take that may help you to have a conversation with the other parent to make a new
arrangement.</p>

<p>If you need someone to help you to reach an agreement, ask a friend or family member, or <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/">find a local mediator</a> to support
you.</p>

<p>Many separated parents write down what they have agreed to, so they have something to refer to. [could be a contract?]</p>

<p>If you want to make your agreement legally binding, you can ask a court to formalise it with a <a href="https://www.gov.uk/looking-after-children-divorce/if-you-agree">consent order or minute of
agreement</a>. This means the agreement can be enforced through the courts if either parent doesn’t do what has been agreed.</p>

<div class="govuk-inset-text">
Making an arrangement between yourselves might not be appropriate if you think the other parent poses a threat to you or
your child, or if you are a victim of domestic abuse. If you feel making an arrangement could make you vulnerable, <a href=".">speak
to one of our agents about your options</a>. (-could link into statutory or telephone intervention)</div>


<h4 class="govuk-heading-m">If you cannot make your own arrangement
</h4>
<p>If you <a href="2">cannot make an arrangement between yourselves</a>, either parent can ask the Child Maintenance Service to make a new,
formal arrangement.
</p>

</div>
</div>
{% endblock %}