{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-1" %} {% block pageTitle %} {{ serviceName }} - Do you get any of these benefits or
state pensions? {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V2" }, html: '' })
}} {% endblock%} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Make an arrangement</h1>

<p>You and your child’s other parent can arrange child maintenance between yourselves, if you can agree.
</p>

<h2 class="govuk-heading-m">What to include in an arrangement</h2>
                <p>Your arrangement can include whatever works for both parents.</p>
                <p>You could agree to share care of your child, or school pick-up and drop-off responsibilities.</p>
<p><a href="laura-kyle"target="_blank">How James and Amy made a non-financial arrangement</a>.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h3 class="govuk-heading-m">Make a financial arrangement</h3>


<p>Many parents choose to make a financial arrangement. For example, 
    the parent who does not live with the child might pay:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>a fixed amount to the parent with care each month</li>
                        <li>for specific items for the child, like uniforms, school trips, or after school activities</li>
                        <li>for housing costs, like rent, mortgage payments, or household bills</li>
                        <li>larger lump sums at certain times in the child’s life</li>
                    </ul>
<p><a href="james-amy">How James and Amy made an arrangement around shared care</a>.</p>

<p>If you both agree to a financial arrangement, you will also need to agree how and when payments will be made, 
    and if you will review your arrangement in the future.</p>
        <p> You can use the
            <a href="https://www.gov.uk/calculate-your-child-maintenance"target="_blank">child maintenance calculator 
            </a>(opens in new window or tab)to get an estimate of how much the Child Maintenance Service would calculate 
            as a fair amount to pay.</p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h4 class="govuk-heading-m">How to pay child maintenance</h4>

<p>There are several ways to pay child maintenance. The most suitable will depend on the arrangement you 
    have and your circumstances.</p>

    <h5 class="govuk-heading-s">Pay by standing order</h5>
    <p>If you’ve agreed on fixed regular payments, you could set up a standing order. This is where money is sent
         directly from one person’s bank or building society account to another person’s account.</p>

         <p>A standing order helps both parents to plan and manage their finances, and keep a record of 
             payments made.</p>

             <h6 class="govuk-heading-s">Use a money transfer service</h6>
             <p>Another option is to use a money transfer service, like PayPal or MoneyGram. 
                 This method means you don’t have to share your bank details with the other parent.</p>
                <div class="govuk-inset-text"><p>Some of these services may charge a fee. Check with the service provider to make sure you understand if any charges
                will apply.</p></div>


                <h7 class="govuk-heading-s">Other ways to pay</h7>

                <p>If you make your own arrangement, you can agree to change your payment method
                     if your circumstances change.</p>
                     <p>For example, if the paying parent loses their job, both parents could agree to
                          reduce the child maintenance payments until the paying parent is back in work.</p>

                          <p>Or, if the receiving parent needs to make urgent repairs to the home they live in with 
                              the children, the paying parent could help with the cost by paying a lump sum, 
                              instead of the regular payments.</p>

                              <p>Read <a href="graham-emily">how Graham and Emily arranged payments</a>.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h7 class="govuk-heading-m">If you need help to make an arrangement</h7>
                            <p>There are many tools, guides and organisations that can help separated parents 
                                to reach an agreement for child maintenance.</p>
                <p>This <a href="https://www.cmoptions.org/en/pdfs/refresh/cost-of-raising-your-child.pdf" target="_blank">
                    'cost of raising your child' guide</a> can help both parents think about the things children need. Use 
                    it to work out the true cost of bringing up your child, and how you can share that cost.</p>
                        <p>This <a href="https://www.cmoptions.org/en/pdfs/refresh/family-based-arrangement-form-aug-2015.pdf"
                            target="_blank">arrangement tool</a> has helped some parents to reach an agreement 
                            for child maintenance.</p>

                            <p>This <a href="https://www.cmoptions.org/en/pdfs/refresh/discussion-guide.pdf" target="_blank">discussion guide</a> might help you to prepare for what can be a difficult
                                 conversation about arrangements for children.</p>

                                 <p>Having a friend or family member there when you speak to each other can help 
                                     separated parents to focus on the thing they’re trying to agree. They will need to 
                                     stay calm and neutral, so choose someone you both trust.</p>

                                     

                                     <p>If you don’t have a friend or family member who can stay neutral,
                                          <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/" target="_blank">find a local mediator</a> to help you to have constructive
                                    conversations with the other parent.</p>
                                            <p>Some parents find it useful to write down what they have agreed,
                                                 so they have something to refer to in future.</p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h8 class="govuk-heading-m">Protecting yourself</h8>
        <div class="govuk-inset-text">
             Making an arrangement between yourselves might not be appropriate if you think the other parent
              poses a threat to you or your child, or if you are a victim of domestic abuse.</div>

              <p>If making an arrangement could make you vulnerable, <a href="phone">speak to one of our agents</a>
               about your options.</p>

               <p><a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" target="_blank">Find out how to get help</a> if you or someone you know is a victim of domestic abuse.</p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h9 class="govuk-heading-m">If your arrangement stops working
        </h9>
        <p>If you have an arrangement and it is no longer working, you could ask a friend, family member, 
            or <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/" target="_blank">
            professional family mediator</a> to help you get back on track. </p>

        <p>A mediator can help you to: </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>work together to decide what is best for your child</li>
                        <li>reduce conflict between you</li>
                        <li>build trust in each other</li>
                        <li>improve communications</li>
                        <li>make a flexible, lasting agreement for child maintenance</li>
</ul>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h10 class="govuk-heading-m">If you cannot make your own arrangement</h10>

<p>If both parents cannot agree, or something else is stopping you making an arrangement,
     <a href="">the Child Maintenance service</a> may be able to make and enforce an arrangement for you.</p>

<p>There is a £20 fee to apply.</p>

<p>The Child Maintenance Service is for when you and the other parent cannot agree your own arrangement.
</p>

<h11 class="govuk-heading-m">What the Child Maintenance Service can do</h11>
<p>The Child Maintenance Service can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>try to find the other parent if you do not know where they live, 
                            to sort out child maintenance</li>
                            <li>sort out <a href="">disagreements about parentage</a></li>
                            <li><a href="">work out how much child maintenance should be paid</a></li>
                            <li>look at the payment amount again when <a href="">changes in parents’ 
                                circumstances are reported</a></li>
                                <li>review the payment amount every year</li>
                                <li><a href="">take action if payments are not made</a></li>
                                </ul>

<h12 class="govuk-heading-m">Ask the Child Maintenance Service to make an arrangement for you</h12>  
<p>Either parent can ask the Child Maintenance Service to make and enforce a new child maintenance arrangement.
</p>

<p>To apply you must:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>live in the UK</li>
                        <li>be a parent or guardian of the child, or a child over 12 living in Scotland</li>
                        <li>pay a £20 application fee you are under 19, live in Northern Ireland, 
                            or you or your child have experienced domestic abuse</li>
</ul>

<p>Your child must be under 20 and in full time education up to A Level or equivalent</p>

<p>The Child Maintenance Service will calculate a legally enforceable amount and tell both parents when it should be paid. 
    Parents are responsible for making sure that payments are made.</p>
   

    <p>Extra charges will apply if you need the Child Maintenance Service to collect and pass on payments between you, or if the
    service needs to enforce payments.</p>

   

    <p>The Child Maintenance Service can only help in <a href="">certain circumstances </a>if one of the parents lives abroad.
</p>
<p><a href="resident">Check if your eligible for the Child Maintenance service</a></p>

</div>
</div>



{% endblock %}