{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/alpha-prototype-1" %} 
{% block pageTitle %} 
{{ serviceName }} - What is child maintenance?
{% endblock %} 

{% block beforeContent %} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V2" }, html: '' }) }} 
{% endblock%} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">What is child maintenance?</h1>

<p>Child maintenance is money to help pay for your child's everyday living costs when you are separated from the other parent.</p>

<p>Both parents are legally responsible for the financial costs of raising their children, even if they don’t see them.</p>
<p>A child maintenance arrangement can help to give your child the best start in life, and can help you to work together as parents.
How you arrange child maintenance will depend on your circumstances and whether you are able to communicate with the other
parent.</p>

<div class="govuk-inset-text">
You can make an arrangement yourselves with no-one else involved. There are tools and information available to help. </div>
{% from "button/macro.njk" import govukButton %} 
{{ govukButton({ 
  text: "Start now", 
  href: "1what-is-cm", 
  classes: "govuk-button--start"
}) }}

</div>
</div>
{% endblock %}