{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/" %} {% block pageTitle %} {{ serviceName }} - Making an arrangement {% endblock %} {% block beforeContent
%} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: '' }) }} {% endblock%} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Laura and Kyle's non- finiancial arrangement</h1>

        <p>Laura and Kyle both had a lot of debt after the break-up of their relationship, so Laura didn’t feel able to pay an amount
        of child maintenance to Kyle. </p> <p>Instead, they agreed that Laura would pick the kids up from school every day, as well as having
        them at weekends and during the school holidays.
</p>

</div>
</div>

{% endblock%}