{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

{% set serviceUrl = "/alpha-prototype-1" %}
{% block pageTitle %} {{ serviceName }} - Arranging child maintenence yourself
{% endblock %}

{% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE" }, html: ''}) }}
{% endblock %}
{%block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
             Child Maintenance Service arrangements
        </h1>
        <p> There are 2 types of arrangement you can apply to make through the Child Maintenance Service:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Direct pay</li>
            <li>Collect and pay</li>
        </ul>
<h2 class="govuk-heading-m">Direct Pay</h2>
<p>Direct Pay is for when parents cannot agree an amount of maintenance, or have tried a family-based arrangement and it has
stopped working.</p>
<p>If you choose Direct Pay the Child Maintenance Service will work out the payment amount, then you can make your own payment
arrangement if you both agree. The Child Maintenance Service will send both parents a letter explaining what should be paid
and when.</p>
<p>There is a fee of £20 to apply for Direct Pay. You will not have to pay any fees if you make a family-based arrangement.</p>
<p>The easiest way to pay is by standing order from the paying parent s account into the receiving parent s account.</p>
<p>The Child Maintenance Service can enforce missed payments. You should keep a record of payments in case there are any problems
in the future.</p>
<p>Either parent can choose Direct Pay, unless there is evidence that the paying parent is unlikely to pay.</p>

<h3 class="govuk-heading-m">Collect and pay</h3>
<p>Collect and Pay is for when the paying parent is unlikely to pay or has failed to pay.</p>
<p>If you choose Collect and Pay, the Child Maintenance Service will work out the payment amount, then arrange to collect and
pass on payments. They will arrange this around when the paying parent is paid their wages, pension or benefits.</p>
<p>There is a fee of £20 to apply for Collect and Pay.</p>
<p>You will also have to pay a fee each time you make or receive a payment:</p>
<ul class="govuk-list govuk-list--bullet">
<li>paying parents will pay a 20% fee on top of their regular child maintenance payment</li>
<li>receiving parents will have a 4% fee deducted from their regular child maintenance payment</li>
    </ul>

    <p>You cannot avoid collection fees by making payments in advance.</p>
    <p>You will not have to pay any fees if you choose a <a href="">family-based arrangement.</a></p>
    <p>You will not have to pay collection fees if you choose Direct Pay, where you make your own payment arrangements.</p>
    </div>
</div>
{% endblock %}