{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios %} 

{% set serviceUrl = "/alpha-prototype-3" %} 

{% block pageTitle %} 
{{ serviceName }} 
{% endblock %}

{% block beforeContent%} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V1" }, html: '' }) }} 
{% endblock %} 


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
        <form method="post" action="agreement-in-place">


            {{ govukRadios({ idPrefix:
                 "agreement-in-place", 
                 name: "agreement-in-place", 
                 fieldset: { legend: { text: 
                    "Do you already have a child maintenence arrangement in place?", 
                    isPageHeading: true, 
                    classes:"govuk-fieldset__legend--xl" } }, 
                    items:[ { 

                         name: "yes-working", 
                         value: "yes-working", 
                         text: "Yes, we have an arrangement and it is working" },
                          {
                        name: "yes-not-working",
                        value: "yes-not-working", 
                        text: "Yes, we have an arrangement but it is not working"},
                     { 
                         
                              name: "no",
                              value: "no", 
                              text: "No we don't have an arrangement in place" }, 
                              {
                                   }] }) }} 


                        {{ govukButton({
                            text: "Continue" }) }}
        </form>
    </div>
</div>
{% endblock %}