{% extends "layout.html" %} {% set serviceUrl = "/alpha-prototype-3" %} {% block pageTitle %} {{ serviceName }} {% endblock
%} {% block beforeContent%} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE" }, html: '' }) }} {% endblock %} {% block content
%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-l">What other reasons would there be for an arrangement no longer working?</h1>

       

    </div>
</div>
{% endblock %}