{% extends "layout.html" %}
{% from "button/macro.njk" import govukButton %}

{% set serviceUrl = "/alpha-prototype-1.1" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
    {{ 
        govukPhaseBanner({
            tag: {
                text: "PROTOTYPE"
            },
            html: ''
        }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
           Get help with my Child Maintenance options
      </h1>

<p>Child maintenance is money to help pay for your child's everyday living costs when you are separated from the other parent.</p>
{% from "inset-text/macro.njk" import govukInsetText %} {{ govukInsetText({ text: "Both parents are legally responsible for the financial costs of raising their children.
" }) }}
<p>Child maintenance payments are made by the parent who does not have day-to-day care of the child to the parent who has day-to-day
care of the child.</p>

<h2 class="govuk-heading-m">Find out how to make a child maintenance arrangement</h2>
      <p>To use this service you must: </p>
      <ul class="govuk-list govuk-list--bullet">
  <li>live in the UK</li>
  <li>have a child under 20 in full time education</li>
  <li>not have a court order that is less than 12 months old</li>
</ul>


{% from "button/macro.njk" import govukButton %} 
{{ govukButton({ 
  text: "Start now", 
  href: "already-agreement", 
  classes: "govuk-button--start"
}) }}


<p>If you are not elegible, you might still be able to <a href="fba"> make a new arrangement.</a></p>


</div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/calculate-your-child-maintenance" target="_new">
                Calculate your child maintenance
              </a>
            </li>
            <li>
              <a href="https://helpwithchildarrangements.service.justice.gov.uk/" target="_new">
                Get help with child arrangements
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/child-maintenance" target="_new">
                Child maintenance
              </a>
            </li>
            <!--
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            -->
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}

