.box-example {
    border: 1px solid #bfc1c3;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

.box-example--most-recent::before {
    background: #bfc1c3;
    color: #fff;
    content: 'MOST RECENT';
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    left: 0;
    padding: .2105263158em .7894736842em;
    position: absolute;
    text-transform: none;
    top: 0;
}