{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
<!-----------------------------answers table---------------------------------------------------------->
<h1 class="govuk-heading-xl">Check your answers</h1>

<p>The calculation is based on the following information provided 23 April 2019:</p>

{% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "About your arrangement",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Questions"
          },
          {
            text: "Answers"
          },
          {
            text: "Edit"
          }
        ],
        rows: [
          [
            {
              text: "Will you be paying or receiving child maintenance payments?"
            },
            {
              text: "Paying"
            },
            {
              text: "Change",
              classes: "govuk-link"
            }
          ],
          [
            {
              text: "Will you be making payments to more than one
                      other parent?"
            },
            {
              text: "Yes"
            },
            {
              text: "Change",
              classes: "govuk-link govuk-link--no-visited-state"
            }
          ],
          [
            {
              text: "How many people will you be paying child
                        maintenance to?"
            },
            {
              text: "2 receiving parents"
            },
            {
              text: "Change",
              classes: "govuk-link govuk-link--no-visited-state"
            }
          ]
        ]
      }) }}
<!------------------table 2------------------------------------------------------------------------------>

    {% from "table/macro.njk" import govukTable %}

          {{ govukTable({
            caption: "Benefits and income",
            captionClasses: "govuk-heading-m",
            firstCellIsHeader: true,
            head: [
              {
                text: "Questions"
              },
              {
                text: "Answers"
              },
              {
                text: "Edit"
              }
            ],
            rows: [
              [
                {
                  text: "Do you receive any benefits or State Pension?"
                },
                {
                  text: "Yes"
                },
                {
                  text: "Change",
                  classes: "govuk-link govuk-link--no-visited-state"
                }
              ],
              [
                {
                  text: "Which of these benefits or State Pension do
                            you receive? "
                },
                {
                  text: "Income Support"
                },
                {
                  text: "Change",
                  classes: "govuk-link govuk-link--no-visited-state"
                }
              ],
              [
                {
                  text: "Do you receive any income?"
                },
                {
                  text: "Yes"
                },
                {
                  text: "Change",
                  classes: "govuk-link govuk-link--no-visited-state"
                }
              ],
              [
                {
                  text: "What is your total taxable income?"
                },
                {
                  text: "£20,282.20 per year"
                },
                {
                  text: "Change",
                  classes: "govuk-link govuk-link--no-visited-state"
                }
              ]
            ]
          }) }}

<!-------------------children/parent information---------------------------------------------->

{% from "table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "First receiving parent",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Questions"
          },
          {
            text: "Answers"
          },
          {
            text: "Edit"
          }
        ],
        rows: [
          [
            {
              text: "How many of your children live with the first receiving parent most of the time?"
            },
            {
              text: "2 children"
            },
            {
              text: "Change",
              classes: "govuk-link"
            }
          ],
          [
            {
              text: "Do any of these children ever stay overnight with you?"
            },
            {
              text: "Yes"
            },
            {
              text: "Change",
              classes: "govuk-link"
            }
          ],
          [
            {
              text: "What are the names of your children who live with the first receiving parent most of the time?"
            },
            {
              text: "[ChildName1] [ChildName2]"
            },
            {
              text: "Change",
              classes: "govuk-link"
            }
          ],
          [
            {
              text: "How often does [ChildName1] stay overnight with you?"
            },
            {
              text: "1 to 2 nights a week (52 to 103 a year)"
            },
            {
              text: "Change",
              classes: "govuk-link"
            }
          ],
          [
            {
              text: "How often does [ChildName2] stay overnight with you?"
            },
            {
              text: "1 to 2 nights a week (52 to 103 a year)"
            },
            {
              text: "Change",
              classes: "govuk-link"
            }
          ]
        ]
      }) }}
<!------------------table 3------------------------------------------------------------------------------>

    {% from "table/macro.njk" import govukTable %}

          {{ govukTable({
            caption: "Second receiving parent",
            captionClasses: "govuk-heading-m",
            firstCellIsHeader: true,
            head: [
              {
                text: "Questions"
              },
              {
                text: "Answers"
              },
              {
                text: "Edit"
              }
            ],
            rows: [
              [
                {
                  text: "How many of your children live with the second receiving parent most of the time?"
                },
                {
                  text: "3 children"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ],
              [
                {
                  text: "Do any of these children ever stay overnight with you?"
                },
                {
                  text: "Yes"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ],
              [
                {
                  text: "What are the names of your children who live with the second receiving parent most of the time? "
                },
                {
                  text: "[ChildName3] [ChildName4] [ChildName5]"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ],
              [
                {
                  text: "How often does [ChildName3] stay overnight with you?"
                },
                {
                  text: "1 to 2 nights a week (52 to 103 a year)"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ],
              [
                {
                  text: "How often does [ChildName4] stay overnight with you?"
                },
                {
                  text: "1 to 2 nights a week (52 to 103 a year)"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ],
              [
                {
                  text: "How often does [ChildName5] stay overnight with you?"
                },
                {
                  text: "1 to 2 nights a week (52 to 103 a year)"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ],
              [
                {
                  text: "How many children live with you most of the time?"
                },
                {
                  text: "2 children"
                },
                {
                  text: "Change",
                  classes: "govuk-link"
                }
              ]
            ]
          }) }}

          {% from "table/macro.njk" import govukTable %}

                {{ govukTable({
                caption: "Other persons children",
                  captionClasses: "govuk-heading-m",
                  firstCellIsHeader: true,
                  head: [
                    {
                      text: "Questions"
                    },
                    {
                      text: "Answers"
                    },
                    {
                      text: "Edit"
                    }
                  ],
                  rows: [
                    [
                      {
                        text: "How many children live with you most of the time?"
                      },
                      {
                        text: "2 children"
                      },
                      {
                        text: "Change",
                        classes: "govuk-link"
                      }
                    ]
                  ]
                }) }}

        <a href="#" role="button" draggable="false" class="govuk-button">
            Continue
        </a>

  </div>

{% endblock %}
