{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        Your child maintenance
                        <br> calculation is
                        <br>
                        <strong> £40 a week</strong>
                        or
                        <strong>£173 a month</strong>

                    </div>
                </div>
                <div>

                    <p>This figure can be used to agree an arrangement between John and Jayne for Maisie.</p>

                    <p>Based on the information you provided on 18 04 2019, this is what the Child Maintenance Service would calculate as
                        an appropriate maintenance amount.
                    </p>
<!-----------------------------1 case, 2 children scenario---------------------------------------------------------->
                    {% from "table/macro.njk" import govukTable %}

                        {{ govukTable({
                          captionClasses: "govuk-heading-l",
                          caption: "Receiving parent 1",
                          firstCellIsHeader: true,
                          classes: "",
                          head: [
                            {
                              text: ""
                            },
                            {
                              text: "Week",
                              format: "numeric"
                            },
                            {
                              text: "Month",
                              format: "numeric"
                            }
                          ],
                          rows: [
                            [
                              {
                                text: "ChildName1"
                              },
                              {
                                text: "£A",
                                format: "numeric"
                              },
                              {
                                text: "£B",
                                format: "numeric"
                              }
                            ],
                            [
                              {
                                text: "ChildName2"
                              },
                              {
                                text: "£C",
                                format: "numeric"
                              },
                              {
                                text: "£D",
                                format: "numeric"
                              }
                            ],
                            [
                              {
                                text: "Total",
                                rowspan: "4"
                              },
                              {
                                text: "£00",
                                format: "numeric",
                                classes: "govuk-!-font-weight-bold"
                              },
                              {
                                text: "£00",
                                format: "numeric",
                                classes: "govuk-!-font-weight-bold"
                              }
                            ]
                          ]
                        }) }}

           <!--<p><a href="saved-copy">Download a copy of your answers and calculation (downloads a PDF)</a> to save or share with the other parent.</p>

                    <p>If you need to you can
                        <a href="your-name-1">make another calculation</a>.</p>-->

                </div>


                <h2 class="govuk-heading-m">Next steps</h2>

                <p>You can now agree how you will share the costs of raising your children. Use this calculation as a starting
                    point.
                </p>
                <p>Your arrangement can include whatever works for both parents.</p>

                <p>For example you could agree to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>share care of the children</li>
                    <li>split the cost of specific items</li>
                    </ul>
                      <p>Or you could agree that one parent will pay:</p>
                                    <ul class="govuk-list govuk-list--bullet">

                    <li>some of their income to the parent the children live with</li>
                    <li>for things like housing costs, uniform, clothes, school trips or after school clubs</li>

                </ul>

                <p>No one else is involved, and the arrangement can be flexible to your circumstances.
                </p>

                <p>Some parents find it useful to
                    <a href="https://www.cmoptions.org/en/toolbox/maintenance-form.asp" target="_blank">write down their arrangement (opens in a new window or tab)</a> so they have something to refer back
                    to.
                </p>

              <!--  <h2 class="govuk-heading-m">How and when to make payments
                </h2>
                <p>If you agree to a financial arrangement there are several ways to pay child maintenance. The most suitable
                    will depend on your circumstances.
                </p>

                <p>If you have agreed on fixed regular payments, you could set up a standing order. This is where money is sent
                    directly from one person’s bank or building society account to another person’s account.
                </p>

                <p>A standing order can help both parents to plan and manage their finances, and keep a record of payments made.
                </p>


                <p>If you have agreed to more flexible payments, these could be made by bank transfer, cheque, or pre-paid credit
                    card.
                </p>


                <h4 class="govuk-heading-m">If you need help making an arrangement
                </h4>
<p>Speak to Child Maintenance Options if you need more help.</p>
                <div class="govuk-inset-text">

                    <p>Telephone: 0800 953 0191</p>
                    <p>Monday to Friday, 8am to 8pm</p>
                    <p>Saturdays, 9am to 4pm</p>
                    <p>Welsh language: 0800 408 0308</p>
                    <p>Monday to Friday, 9am to 5pm</p>
                    <p>
                        <a href=".">Find out about call charges</a>
                    </p>
                </div>
                <p>This free service gives support and information to help separated parents make their own child maintenance arrangements.
</p>
<p><p>You could also ask a friend or family member to help you, or
    <a href="">find a professional family mediator (opens in a new window or tab)</a>.</p>
    <p>If both parents still cannot agree, or something else is stopping you making your own arrangement,
        <a href="">the Child Maintenance Service</a> may be able to help you.</p>
                <h5 class="govuk-heading-m">Tell us what you think</h5>

                <p>Please
                    <a href="q1">answer some questions</a> about your experience on this website. Your responses will help us make it
                    better.
                </p>-->

            </div>

{% endblock %}
