{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="box-example box-example--most-recent govuk-!-padding-9">


    <h2 class="govuk-heading-l">6.8</h2>
  {{ govukButton({
     text: "CO-280 - Existing Customers",
        href: "/v18/1.html"
    }) }}
<br>
  {{ govukButton({
     text: "CO-299 - Update calculator start page",
        href: "/v18/fba"
    }) }}
<br>

  {{ govukButton({
     text: "CO-256 - 50/50 shared care functionality in calculator",
        href: "/v18/1"
    }) }}
<br>




  {{ govukButton({
     text: "Placeholder",
        href: "/v18/"
    }) }}
<br>


</div>
</div>
{% endblock %}
