{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">You are eligible to apply to the Child Maintenance Service</h1>


        <h2 class="govuk-heading-m">Before you apply</h2>

        <p>You can <a href="fba">get a calculation yourself</a>. It is free to use, no-one else is involved and you can use
             the result to <a href="1">make your own arrangement</a>.</p>
        <h3 class="govuk-heading-m">To make your application
        </h3>

        <p>You’ll need to pay a fee of £20 (unless you are a victim of domestic abuse, live in Northern Ireland or are under 19).
        </p>
       <p>You'll also need information about:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>yourself</li>
        <li>the children's other parent</li>
        <li>the children</li>
      
    </ul>

    <p>It should take x amount of minutes to make your application. Most applications are processed within x weeks.</p>


                    <a href="gateway" role="button" draggable="false" class="govuk-button">
                        Continue
                    </a>


<p>Tell us how we could <a href="q1">make this website better</a>.</p>
    </div>

<div class="govuk-grid-column-one-third">


    <div class="promo-image" id="promo">
        <div class="promo-content">
            <h3 class="survey-heading">

                <div class="feedback-link" a href="feedback">Tell us what you think</div>

            </h3>
            <p>Help us improve this service by
                <a href="q1">giving your feedback</a>.</p>
        </div>
    </div>
    <div class="gem-c-contextual-sidebar">

        <div class="gem-c-related-navigation">
            <h2 id="related-nav-related_items-ed61ce7e" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
                Related content
            </h2>




            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-ed61ce7e"
                data-module="gem-toggle">


                <ul class="gem-c-related-navigation__link-list" data-module="track-click">



                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="raising-child">The cost of raising a child</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="discussion-guide">Child maintenance discussion guide</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" href="arrangement-tool">Child maintenance arrangement tool</a>
                    </li>
                </ul>
            </nav>



            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-ed61ce7e" data-module="gem-toggle">

                <h3 id="related-nav-topics-ed61ce7e" class="gem-c-related-navigation__sub-heading">
                    Explore the topic
                </h3>

                <ul class="gem-c-related-navigation__link-list">


                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.1 Explore the topic"
                            data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Financial help if you have children&quot;}"
                            href="/browse/childcare-parenting/financial-help-children">Marriage, civil partnership and divorce</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.2 Explore the topic"
                            data-track-label="/browse/benefits/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                            href="/browse/benefits/child">Divorce, separation and legal issues</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.3 Explore the topic"
                            data-track-label="/browse/births-deaths-marriages/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                            href="/browse/births-deaths-marriages/child">Having a child, parenting and adoption</a>
                    </li>

                </ul>
            </nav>
        </div>


    </div>




</div>

</div>


</div>


</div>



{% endblock %}
