{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">You are eligible to apply to the Child Maintenance Service</h1>

        <h2 class="govuk-heading-m">To make your application
        </h2>

        <p>You’ll need to pay a fee of £20 (unless you are a victim of domestic abuse, live in Northern Ireland or are under 19).
        </p>
       <p>You'll also need information about:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>yourself</li>
        <li>the children's other parent</li>
        <li>the children</li>
      
    </ul>

    <p>It should take x amount of minutes to make tyour application. Most applications are processed within x weeks.</p>


                    <a href="" role="button" draggable="false" class="govuk-button">
                        Continue
                    </a>


<p>Tell us how we could <a href="q1">make this website better</a>.</p>
    </div>
</div>
{% endblock %}
