{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="do-they-earn">

            {{ govukRadios({
                idPrefix: "do-they-earn",
                name: "do-they-earn",
                fieldset: { legend: { text: "Does the paying parent receive any income?",
            isPageHeading: true,
             label: { text: "" },
             hint: { text: "This is their total income from employment or self-employment, before tax and National Insurance, but after
            pension contributions." },
            classes: "govuk-fieldset__legend--xl" } },
            items: [ {
                name:"yes",
                value: "yes", 
                text: "Yes",
                checked: true if data['do-they-earn'] == "yes" },
                {
                name: "no",
                value: "no",
                text: "No",
                checked: true if data['do-they-earn'] == "no" },
                {
                name:"unknown",
                value: "unknown", 
                text: "I don't know",
                checked: true if data['do-they-earn'] == "unknown" }
            ] }) }}
            {{
                govukButton({ text: "Continue" }) }}
        </form>
    </div>
</div>
{% endblock %}
