{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="survey-start" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">We're testing a new child maintenance website</h1>


      <p>You can use it to make the best child maintenance arrangement for your circumstances.</p>


<p>You'll be able to:

</p>
<ul class="govuk-list govuk-list--bullet">
    <li>find out what child maintenance is
</li>
    <li>calculate the amount of child maintenance you might pay or receive
</li>
    <li>download and print forms that could help you and the other parent make your own arrangement
</li>
    <li>find out how the child maintenance service can help
</li>
</ul>
<h2 class="govuk-heading-m">Tell us what you think</h2>
<p>When you've finished, you'll be able to take part in an optional survey that will help us to make this website better. It should take less than 5 minutes to complete.</p>
<a href="1" role="button" draggable="false" class="govuk-button govuk-button--start">
    Continue to the new website
</a>

<p><a href="//">Use the current Child Maintenance Options website</a>.</p>

<p><a href="">Child Maintenance Choices</a> can help you with your child
     maintenance options if you are in Northern Ireland.</p>
     <p>The new guide is not available in Welsh yet. The current website is available in <a href="">Welsh</a>.
</p>
<p>For live chat or email support you should use the current website.</p>
</div>
</div>
{% endblock %}
