{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Child maintenance calculator</h1>


        <p>Based on your answers no child maintenance has to be paid.

<p>This is because the income of the parent paying child maintenance is too low.
</p>        

<p>The calculator gives an estimate based on the rules used by the Child Maintenance Service. The exact amount the Child Maintenance
Service calculates may be different.
</p>

<p>You can find out <a href="https://www.gov.uk/how-child-maintenance-is-worked-out/rates-used-by-the-child-support-agency">how child maintenance is worked out</a></p>

<p><a href="">Download this calculation (downloads in a new window)</a>.</p>

<h2 class="govuk-heading-m">Next steps</h2>

<p>If you make your own arrangement you could agree to:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>regular payments of a different amount
</li>
    <li>payments in kind for things like uniforms, haircuts and activities
</li>
    <li>share care
</li>
    <li>a combination of contributions
</li>
</ul>
<p>You could also agree to review your arrangement every year, when children reach milestones like birthdays or a change in
schools, or if the income of either parent changes significantly.
</p>

<p>Some parents find it useful to <a href="">write down their arrangement (opens in new window or tab)</a> so they have something to refer
back to.
</p>

<h3 class="govuk-heading-m">How and when to make payments</h3>

<p>If you agree to a financial arrangement there are several ways to pay child maintenance. The most suitable will depend on
your circumstances.
</p>
<p>If you have agreed on fixed regular payments, you could set up a standing order. This is where money is sent directly from
one person’s bank or building society account to another person’s account.
</p>
<p>A standing order can help both parents to plan and manage their finances, and keep a record of payments made.
</p>

<p>If you have agreed to more flexible payments, these could be made by bank transfer, cheque, or pre-paid credit card.
</p>
<h4 class="govuk-heading-m">If you need help making an arrangement</h4>
<p>If you cannot make an arrangement, or your arrangement stops working, you can:
</p>
<ul class="govuk-list govuk-list--bullet">
<li>ask a <a href="">professional family mediator (opens in a new window or tab)</a>, friend or family member to help you
</li>
<li>speak to <a href="">Child Maintenance Options</a> for support or more information
</li>
</ul>
<p>If both parents still cannot agree, or something else is stopping you making your own arrangement, <a href="">the Child Maintenance
Service</a> may be able to help you.
</p>
</div>
</div>
{% endblock %}