{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
            <label class="govuk-label" for="national-insurance-number">
                What is the name of the parent who will be paying child maintenance?
            </label>
            <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text"
                aria-describedby="national-insurance-number-hint">
        </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="national-insurance-number">
                    What is the name of the parent who will be receiving child maintenance?
                </label>
                <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text"
                    aria-describedby="national-insurance-number-hint">
            </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="national-insurance-number">
                        What is the name of the child the maintenance is being paid for?
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text"
                        aria-describedby="national-insurance-number-hint">
                </div>

                <a href="#" role="button" draggable="false" class="govuk-button">
                    Continue
                </a>

                </div>
                </div>

                 {% endblock %}