{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">






        <div class="govuk-panel govuk-panel--confirmation">
            <div class="govuk-panel__body">
                Your child maintenance
                <br> calculation is
                <br>
                <strong>£40 a week</strong>
                or
                <strong>£173 a month</strong>

            </div>
        </div>

<p>This is what the Child Maintenance Service would calculate for John to pay Jane if you
had a statutory arrangement. It is based on the information Jane provided on 14 December 2018.</p>
        <table class="govuk-table">
            <caption class="govuk-table__caption"></caption>
            <br>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <br>
                    <th class="govuk-table__header" scope="col">Questions</th>
                    <th class="govuk-table__header" scope="col">Answers</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">


                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">How many children are you receiving child maintenance for?</th>
                    <td class="govuk-table__cell">1</td>

                </tr>

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">How often do the children stay overnight with the paying parent?
                    </th>
                    <td class="govuk-table__cell">1 to 2 nights a week</td>


                </tr>

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Does the paying parent receive any government benefits or State Pension?</th>
                    <td class="govuk-table__cell">No</td>


                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">What is the total income of the paying parent?</th>
                    <td class="govuk-table__cell">£433.89</td>


                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Is this amount weekly, monthly or yearly?</th>
                    <td class="govuk-table__cell">Weekly</td>


                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">How many other children live in the household of the parent paying child maintenance?</th>
                    <td class="govuk-table__cell">1</td>


                </tr>
            </tbody>
        </table>

                <h2 class="govuk-heading-m">Next steps</h2>
                
                <p>You can now agree how you will share the costs of raising your children. Use this calculation as a starting point.</p>
                <p>You could agree to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>regular payments of the calculated amount</li>
                    <li>regular payments of a different amount</li>
                    <li>payments in kind for things like uniforms, haircuts and activities</li>
                    <li>share childcare responsibilities</li>
                    <li>a combination of contributions</li>
                </ul>
                
                <p>You could also agree to review your arrangement every year, when children reach milestones like birthdays or a change in
                    schools, or if the income of either parent changes significantly.
                </p>
                
                <p>Some parents find it useful to
                    <a href="https://www.cmoptions.org/en/toolbox/maintenance-form.asp" target="_blank">write down their arrangement (opens in a new window or tab)</a> so they have something to refer back to.
                </p>


    </div>
</div>
{% endblock%}