{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% set serviceUrl = "/alpha-prototype-1.1" %}
{% block pageTitle %} {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V1" }, html: ''
}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
         Getting help with your options
        </h1>
        <p>You can get a calculation to estimate your child maintenance. It can help you to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>agree an amount with the other parent if you’re arranging it yourselves</li>
            <li>get an idea of the amount the government would work out for you</li>
                    
        </ul>
<div class='govuk-inset-text'>
     The calculator gives an estimate. The exact amount the Child Maintenance Service calculates may be different.
</div>

<a href="paying-receiving" role="button" class="govuk-button govuk-button--start">
    Calculate your child maintenance
</a>
<br>
<p>You can<a href="matrix"> skip the calculator</a> and find out what your child maintenance options are.</p>
        </div>
        </div>
        {% endblock %}