{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% set serviceUrl = "/alpha-prototype-1.1" %}
{% block pageTitle %} {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE" }, html: ''
}) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        What do you ideally want your child maintenance arrangeent to be like?
                    </h1>
                </legend>
                <span id="waste-hint" class="govuk-hint">
                    Select up to 3 options.
                </span>
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                            Legally enforceable
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Flexible
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                            No contact between parents
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                            payments collected and passed on for us
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                            No one else involved
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                           No fees
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                           Tell us what to pay and when
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <a href="matrix" role="button" class="govuk-button">
            Continue
        </a>

        </div>
        </div>
        {% endblock %}