{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <form method="post" action="live-in-uk">

<form method="post" action="live-in-uk">

        {% from "radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "where-do-they-live",
  name: "where-do-they-live",
  fieldset: {
    legend: {
      text: "Who do the children live with most of the time?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "parent~/v26/how-many-children",
      text: "A parent"
    },
    {
      value: "parent~/v26/how-many-children",
      text: "A guardian"
    },
    {
      value: "parent~/v26/how-many-children",
      text: "A grandparent"
    },
    {
      value: "other~/v26/children-living-away",
      text: "Other"
    }
  ]
}) }}

     {{ govukButton({ text: "Continue" }) }}
    </form>
        </a>
    </div>
</div>
{% endblock %}
