{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <form method="post" action="live-in-uk">

            {{ govukRadios({
                idPrefix: "lives-in-uk",
                name: "lives-in-uk",
                fieldset: { legend: { text: "Is sarah under 16 years old?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl" } },
            items: [ {
                value: "yes~/v26/sarah-married-civilpartnership",
                text: "Yes",
                checked: true if data['paying-children'] == "yes" },
                {
                value: "no~/v26/sarah-under-20",
                text: "No",
                checked: true if data['paying-children'] == "no" }

            ] }) }}
             {{ govukButton({ text: "Continue" }) }}
        </form>

        </a>
    </div>
</div>
{% endblock %}
