{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-xl">Enter your unique reference number</h1>




        <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
                Unique reference number
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <p>
            <a href="">I don't have my unique reference number</a>
        </p>
        <a href="apps" role="button" class="govuk-button">
            Submit
        </a>








        {% endblock %}