{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <form method="post" action="live-in-uk">

            {{ govukRadios({
                idPrefix: "making-payments",
                name: "making-payments",
                fieldset: { legend: { text: "Will you be making or receiving payments for child maintenance?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl" } },
            items: [ {
                value: "making-payments",
                text: "Making Payments",
                checked: true if data['paying-children'] == "making-payments" },
                {
                value: "receiving-payments",
                text: "Receiving Payments",
                checked: true if data['paying-children'] == "receiving-payments" }

            ] }) }}
             {{ govukButton({ text: "Continue" }) }}
        </form>

        </a>
    </div>
</div>
{% endblock %}
