{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

                <form method="post" action="court-order">

                      <!--The below radio buttons have been routed in an alternative way
                           making the process of routing abit easier-->
                    {{ govukRadios({
                          idPrefix: "court",
                          name: "court",
                          fieldset: {
                            legend: {
                              text: "Has the order been in place for less than 12 months",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--xl" } },
                        items: [ {
                        value: "yes~/v18/v19-eligibility-routes/placeholder-7",
                        text: "Yes" },
                      {
                        value: "no~/v18/v19-eligibility-routes/court-order-before-2003",
                        text: "No"
                      }
                    ]
                  }) }}

                    {{ govukButton({ text: "Continue" }) }}
                </form>
    </div>
</div>
{% endblock %}
