{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">If the paying parent receives benefits
</h1>

        <p>If the parent who does not live with the child receives a benefit or State Pension, the Child Maintenance Service calculates
        a ‘Flat Rate’ of £7 per week.

        </p>
        <a href="any-income-r" role="button" class="govuk-button">
            Continue
        </a>
    </div>
</div>
{% endblock %}