{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-xl">Calculate child maintenance</h1>
        <p>Use this calculator to work out an amount of child maintenance for your children.</p>

        <p>The online calculator uses the same basic rules as the Child Maintenance Service –
          a government scheme for parents who cannot make their own child maintenance arrangements.</p>

        <p>You can use the calculation as a starting point for making your own arrangement with the other parent.</p>

        <!--<div class="govuk-inset-text">The receiving parent has main day-to-day care of the children. The paying parent does not have main day-to-day care.
        </div>-->

        <p>You’ll need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>whether the parent who will be paying child maintenance gets any benefits, State Pension, or income</li>
            <li>if any children live with the paying parent most of the time</li>
        </ul>

        <p>Information you provide will only be used for your calculation and will not be stored. </p>

        <a href="paying-receiving" role="button" class="govuk-button govuk-button--start">
            Start now
        </a>








    </div>
<div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">

        <div class="promo-image" id="promo">
            <div class="promo-content">
                <h3 class="survey-heading">

                    <div class="feedback-link" a href="feedback">Tell us what you think</div>

                </h3>
                <p>Help us improve this service by
                    <a href="q1">giving your feedback</a>.</p>
            </div>
        </div>

        <div class="gem-c-related-navigation">
            <h2 id="related-nav-related_items-ed61ce7e" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
                Related content
            </h2>




            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-ed61ce7e"
                data-module="gem-toggle">


                <ul class="gem-c-related-navigation__link-list" data-module="track-click">


                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">Calculate child maintenance</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">The cost of raising a child</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">Child maintenance discussion guide</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">Child maintenance arrangement tool</a>
                    </li>
                </ul>
            </nav>



            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-ed61ce7e" data-module="gem-toggle">

                <h3 id="related-nav-topics-ed61ce7e" data-track-count="sidebarRelatedItemSection" class="gem-c-related-navigation__sub-heading">
                    Explore the topic
                </h3>

                <ul class="gem-c-related-navigation__link-list" data-module="track-click">


                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.1 Explore the topic"
                            data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Financial help if you have children&quot;}"
                            href="#">Marriage, civil partnership and divorce</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.2 Explore the topic"
                            data-track-label="/browse/benefits/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                            href="#">Divorce, separation and legal issues</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.3 Explore the topic"
                            data-track-label="/browse/births-deaths-marriages/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                            href="#">Having a child, parenting and adoption</a>
                    </li>

                </ul>
            </nav>
            <hr>

        </div>    {% endblock %}
