{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <div class="govuk-panel__body">
                        Your child maintenance
                        <br> calculation is
                        <br>
                        <strong> £40 a week</strong>
                        or
                        <strong>£173 a month</strong>

                    </div>
                </div>
                <div>

                  {% from "table/macro.njk" import govukTable %}

                      {{ govukTable({
                        caption: "",
                        firstCellIsHeader: true,
                        head: [
                          {
                            text: ""
                          },
                          {
                            text: "Week",
                            format: "numeric"
                          },
                          {
                            text: "Month",
                            format: "numeric"
                          }
                        ],
                        rows: [
                          [
                            {
                              text: "Receiving parent 1"
                            },
                            {
                              text: "£AA",
                              format: "numeric"
                            },
                            {
                              text: "£BB",
                              format: "numeric"
                            }
                          ],
                          [
                            {
                              text: "ChildName1"
                            },
                            {
                              text: "£A",
                              format: "numeric"
                            },
                            {
                              text: "£B",
                              format: "numeric"
                            }
                          ],
                          [
                            {
                              text: "ChildName2"
                            },
                            {
                              text: "£C",
                              format: "numeric"
                            },
                            {
                              text: "£D",
                              format: "numeric"
                            }
                          ],
                          [
                            {
                              text: "Total"
                            },
                            {
                              text: "£0",
                              format: "numeric"
                            },
                            {
                              text: "£0",
                              format: "numeric"
                            }
                          ]
                        ]
                      }) }}

                      <!-- receiving parent 2 table-->

                      {% from "table/macro.njk" import govukTable %}

                          {{ govukTable({
                            caption: "",
                            firstCellIsHeader: true,
                            head: [
                              {
                                text: ""
                              },
                              {
                                text: "Week",
                                format: "numeric"
                              },
                              {
                                text: "Month",
                                format: "numeric"
                              }
                            ],
                            rows: [
                              [
                                {
                                  text: "Receiving parent 2"
                                },
                                {
                                  text: "£XX",
                                  format: "numeric"
                                },
                                {
                                  text: "£XX",
                                  format: "numeric"
                                }
                              ],
                              [
                                {
                                  text: "ChildName3"
                                },
                                {
                                  text: "£X",
                                  format: "numeric"
                                },
                                {
                                  text: "£Y",
                                  format: "numeric"
                                }
                              ],
                              [
                                {
                                  text: "ChildName4"
                                },
                                {
                                  text: "£X",
                                  format: "numeric"
                                },
                                {
                                  text: "£Y",
                                  format: "numeric"
                                }
                              ],
                              [
                                {
                                  text: "ChildName5"
                                },
                                {
                                  text: "£Y",
                                  format: "numeric"
                                },
                                {
                                  text: "£Y",
                                  format: "numeric"
                                }
                              ],
                              [
                                {
                                  text: "Total"
                                },
                                {
                                  text: "£0",
                                  format: "numeric"
                                },
                                {
                                  text: "£0",
                                  format: "numeric"
                                }
                              ]
                            ]
                          }) }}

              <!--  <h5 class="govuk-heading-m">Tell us what you think</h5>

                <p>Please
                    <a href="q1">answer some questions</a> about your experience on this website. Your responses will help us make it
                    better.
                </p>-->

            </div>
</div>

<div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">

        <div class="promo-image" id="promo">
            <div class="promo-content">
                <h3 class="survey-heading">

                    <div class="feedback-link" a href="feedback">Tell us what you think</div>

                </h3>
                <p>Help us improve this service by
                    <a href="q1">giving your feedback</a>.</p>
            </div>
        </div>

        <div class="gem-c-related-navigation">
            <h2 id="related-nav-related_items-ed61ce7e" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
                Related content
            </h2>




            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-ed61ce7e"
                data-module="gem-toggle">


                <ul class="gem-c-related-navigation__link-list" data-module="track-click">


                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">Calculate child maintenance</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">The cost of raising a child</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">Child maintenance discussion guide</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked"
                            data-track-action="1.1 Related content" data-track-label="/child-benefit" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Claim Child Benefit&quot;}"
                            href="#">Child maintenance arrangement tool</a>
                    </li>
                </ul>
            </nav>



            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-ed61ce7e" data-module="gem-toggle">

                <h3 id="related-nav-topics-ed61ce7e" data-track-count="sidebarRelatedItemSection" class="gem-c-related-navigation__sub-heading">
                    Explore the topic
                </h3>

                <ul class="gem-c-related-navigation__link-list" data-module="track-click">


                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.1 Explore the topic"
                            data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Financial help if you have children&quot;}"
                            href="#">Marriage, civil partnership and divorce</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.2 Explore the topic"
                            data-track-label="/browse/benefits/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                            href="#">Divorce, separation and legal issues</a>
                    </li>
                    <li class="gem-c-related-navigation__link">
                        <a class="gem-c-related-navigation__section-link" data-track-category="relatedLinkClicked" data-track-action="2.3 Explore the topic"
                            data-track-label="/browse/births-deaths-marriages/child" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Child Benefit&quot;}"
                            href="#">Having a child, parenting and adoption</a>
                    </li>

                </ul>
            </nav>
            <hr>
            <form>
                      {% from "radios/macro.njk" import govukRadios %}

                          {{ govukRadios({
                            idPrefix: "where-do-you-live",
                            name: "where-do-you-live",
                            fieldset: {
                              legend: {
                                text: "What will you do next?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--s"
                              }
                            },
                            items: [
                              {
                                value: "",
                                text: "Apply for the governments Child Maintenance Service"
                              },
                              {
                                value: "",
                                text: "Make a private arrangement with the other parent"
                              },
                              {
                                value: "",
                                text: "Not make a child maintenance arrangement"
                              },
                              {
                                value: "",
                                text: "Not sure"
                              },
                              {
                                value: "",
                                text: "Other"
                              }
                            ]
                          }) }}

                    </form>

        </div>

    </div>


</div>


{% endblock %}
