{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <form method="post" action="do-you-want-to-personalise">

            {{ govukRadios({ idPrefix: "personalise", name: "personalise", fieldset: { legend: { text: "Do you want to personalise these results by adding the names of both parents and children?",
             isPageHeading: true, classes: "govuk-fieldset__legend--xl" } },
            items: [ { name: "yes", value: "yes",
            text: "Yes", checked: true if data['personalise'] == "yes" }, { name: "no", value: "no", text: "No",
            checked: false if data['personalise'] == "no" } ] }) }} {{ govukButton({ text: "Continue" }) }}
        </form>
    </div>
</div>
{% endblock %}