 {% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
Would you be happy for a researcher to call you to talk about your experiences using this website?
            </h1>
        </legend>
        <span id="waste-hint" class="govuk-hint">
             Researchers can't answer specific questions or advise you about child maintenance. Your feedback will help us to improve
            the website. Anything you tell us on the call will be confidential. Your contact details will not be used for any purpose
            other than contacting you for this research, and will be deleted once the research is complete.<br>
             If you are happy to be contacted,
            please leave your full name and telephone number only below.
        </span>
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                     I’m happy for a researcher to telephone me to talk about my experiences with this website
                </label>
            </div>
        </div>
    </fieldset>

    <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
           Full name
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
           Telephone number
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>

</div>
<a href="survey-end" role="button" draggable="false" class="govuk-button">
    Send feedback
</a>
</div>
</div>
{% endblock %}