 {% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
Take part in research
            </h1>
            <br>
            <h2 class="govuk-heading-l">Can a researcher contact you about your experiences with this website and child maintenance?
</h2>
        </legend>
         
            <p class="govuk-hint">Researchers can't answer specific questions or advise you about child maintenance.</p> 
            <p class="govuk-hint">If you are selected to take part, we will contact you in the next 3 weeks.</p>
            <p class="govuk-hint">Your details will only be used to contact you for this research and will be deleted once the research
              is complete.</p>

       
        </fieldset>
        <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name-1">
                    Yes
                </label>


            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                </label>
            </div>
        </div>
        </div>
    
<a href="survey-end" role="button" draggable="false" class="govuk-button">
    Send feedback
</a>
</div>
</div>
{% endblock %}