{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <form method="post" action="live-in-uk">

            {{ govukRadios({
                idPrefix: "lives-in-uk",
                name: "lives-in-uk",
                fieldset: { legend: { text: "Was the order put in place before 3rd March 2003?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl" } },
            hint: {
                  text: "Select one option."
                },
            items: [ {
                value: "yes",
                text: "Yes",
                checked: true if data['paying-children'] == "yes" },
                {
                value: "no",
                text: "No",
                checked: true if data['paying-children'] == "no" }

            ] }) }}
             {{ govukButton({ text: "Continue" }) }}
        </form>

        Education must be a full-time (more than average of 12 hours a week supervised study or course-related work experience) and can include:

        A-Levels or similar, for example Pre-U, International Baccalaureate
Scottish Highers
NVQs and other vocational qualifications up to level 3
Home education, if started before your child turned 16
Traineeships in England
Courses are not approved if paid for by an employer or ‘advanced’, for example a university degree or
BTEC Higher National Certificate.

    </div>
</div>
{% endblock %}
