{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

{% set serviceUrl = "/alpha-prototype-1" %}
{% block pageTitle %} {{ serviceName }} - Arranging child maintenence yourself
{% endblock %}

{% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE" }, html: ''}) }}
{% endblock %}
{%block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
             Child Maintenance Service arrangements
        </h1>
        <p> There are 2 types of arrangement you can apply to make through the Child Maintenance Service:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Direct Pay</li>
            <li>Collect and Pay</li>
        </ul>
<h2 class="govuk-heading-m">Direct Pay</h2>
<p>Direct Pay is for when parents cannot agree, or have tried a family-based arrangement and it has
stopped working.</p>

<p>The Child Maintenance Service works out the payment amount, then you can make your own payment arrangement if you both agree.
Both parents will be told what should be paid and when.</p>

<p>There is a fee of £20 to apply for Direct Pay. You will not have to pay any fees if you make a family-based arrangement.</p>

<p>The easiest way to pay is by standing order from the paying parent&#8217;s account into the receiving parent&#8217;s account. If you don’t want to contact each other, the Child Maintenance Service can securely pass the receiving parent's bank account
details to the paying parent. If you do not want the other parent to know where you live, you can set up a 'non-geographic'
bank account with a central or national sort code.</p>

<p>The Child Maintenance Service can enforce missed payments. You should keep a record of payments in case there are any problems
in the future.</p>


{% from "inset-text/macro.njk" 
    import govukInsetText %}
         {{ govukInsetText({ text:
     "Either parent can choose Direct Pay, unless there is evidence that the paying parent is unlikely to pay." 
    }) 
}}
<p>If you want to make a family-based arrangement in the future, the parent who applied to the Child Maintenance Service must
ask the Child Maintenance Service to close their existing case. If the Direct Pay service does not work for you, you can
ask to change to Collect and Pay.</p>
<h3 class="govuk-heading-m">Collect and Pay</h3>
<p>Collect and Pay is for when the paying parent is unlikely to pay or has failed to pay.</p>

<p>The Child Maintenance Service works out the payment amount, then arranges to collect and pass on payments. They will arrange
this around when the paying parent is paid their wages, pension or benefits.</p>

<p>There is a fee of £20 to apply for Collect and Pay.</p>

<p>You must also pay a fee each time you make or receive a payment:</p>
<ul class="govuk-list govuk-list--bullet">
<li>paying parents will pay a 20% fee on top of their regular child maintenance payment</li>
<li>receiving parents will have a 4% fee deducted from their regular child maintenance payment</li>
    </ul>

     {% from "inset-text/macro.njk" 
     import govukInsetText %} 
     {{ govukInsetText({ text:
         "You cannot avoid collection fees by making payments in advance." 
        }) 
    }}
    <p>You will not have to pay any fees if you choose a <a href="">family-based arrangement.</a></p>
    <p>You will not have to pay collection fees if you choose Direct Pay, where you make your own payment arrangements.</p>


<h4 class="govuk-heading-m">Get someone to manage your case for you</h4>
<p>You can <a href="">ask someone else to deal with your Child Maintenance Service case for you</a>.</p>

            <a href="../static-index" class="govuk-back-link">Back</a>

    </div>
</div>
{% endblock %}