{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>



        <h1 class="govuk-heading-xl">Check your answers</h1>

        {% from "table/macro.njk" import govukTable %}

              {{ govukTable({
                caption: "About your income",
                captionClasses: "govuk-heading-m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "Questions"
                  },
                  {
                    text: "Answers"
                  },
                  {
                    text: "Edit"
                  }
                ],
                rows: [
                  [
                    {
                      text: "Will you be paying or receiving child maintenance payments?"
                    },
                    {
                      text: "Paying"
                    },
                    {
                      text: "Change",
                      classes: "govuk-link"
                    }
                  ],
                  [
                    {
                      text: "Will you be making payments to more than one
                              other parent?"
                    },
                    {
                      text: "Yes"
                    },
                    {
                      text: "Change",
                      classes: "govuk-link govuk-link--no-visited-state"
                    }
                  ],
                  [
                    {
                      text: "How many people will you be paying child
                                maintenance to?"
                    },
                    {
                      text: "2 receiving parents"
                    },
                    {
                      text: "Change",
                      classes: "govuk-link govuk-link--no-visited-state"
                    }
                  ]
                ]
              }) }}
<!------------------table 2------------------------------------------------------------------------------>

            {% from "table/macro.njk" import govukTable %}

                  {{ govukTable({
                    caption: "Income and benefits",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: true,
                    head: [
                      {
                        text: "Questions"
                      },
                      {
                        text: "Answers"
                      },
                      {
                        text: "Edit"
                      }
                    ],
                    rows: [
                      [
                        {
                          text: "Do you receive any benefits or State Pension?"
                        },
                        {
                          text: "Yes"
                        },
                        {
                          text: "Change",
                          classes: "govuk-link govuk-link--no-visited-state"
                        }
                      ],
                      [
                        {
                          text: "Which of these benefits or State Pension do
                                    you receive? "
                        },
                        {
                          text: "Income Support"
                        },
                        {
                          text: "Change",
                          classes: "govuk-link govuk-link--no-visited-state"
                        }
                      ],
                      [
                        {
                          text: "Do you receive any income?"
                        },
                        {
                          text: "Yes"
                        },
                        {
                          text: "Change",
                          classes: "govuk-link govuk-link--no-visited-state"
                        }
                      ],
                      [
                        {
                          text: "What is your total taxable income?"
                        },
                        {
                          text: "£20,282.20 per year"
                        },
                        {
                          text: "Change",
                          classes: "govuk-link govuk-link--no-visited-state"
                        }
                      ]
                    ]
                  }) }}

        <a href="check-your-answers-page-2" role="button" draggable="false" class="govuk-button">
            Continue
        </a>

    </div>
</div>
{% endblock%}
