{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/" %} {% block pageTitle %} {{ serviceName }} - Making an arrangement {% endblock %}
{% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: '' }) }} {% endblock%} {% block content
%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Making an arrangement</h1>


        <p>Child maintenance is financial support towards your child’s everyday living costs when you’ve separated from the
            other parent. You and the other parent can arrange child maintenance yourself if you can agree.</p>

            <p>There are many ways of making an arrangement that are not financial, for example, you could agree
                 to share care of the child.</p>

            <p>There are many ways of making an arrangement that are financial.</p>
            <p>For example, you could split the costs of specific items, or the non-resident parent could pay:</p>
            
            <ul class="govuk-list govuk-list--bullet">
                <li>a proportion of their income to the parent with care</li>
                <li>for things like housing costs, uniforms, clothes, school trips, or after school clubs</li>
                <li>larger lump sums at certain times in the child’s life</li>
            </ul>


        <h2 class="govuk-heading-m">Guidance and tools for making an arrangement</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="cost">The cost of raising a child</a>
            </li>
            <li>
              <a href="da">Protecting yourself</a>
            </li>

            <li>
                <a href="conversation">Starting the conversation</a>
            </li>

            <li>
                <a href="arrangement">How to make a financial arrangement</a>
            </li>
             <li>
                <a href="calculate">Calculate a child maintenance amount</a>
            </li>

             <li>
                 <a href="payments">How to make payments</a>
             </li>

           
            <li>
                <a href="problems">If problems arise or your circumstances change</a>
            </li>
            <li>
                <a href="help">Helping someone with child maintenance</a>
            </li>
        </ul>

<h3 class="govuk-heading-m">If you need more help</h3>
<p>If you have read the information and guides above and need more help, you can 
    <a href="q1">answer some questions about your situation</a> to get information relevant to your circumstances.</p>

    </div>
</div>



{% endblock %}