{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/" %} 
{% block pageTitle %} 
{{ serviceName }} - How to make an arrangement
{% endblock %} 

{% block beforeContent %} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: '' }) }} 
{% endblock%} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">How to make a financial arrangement</h1>


   <p>If you choose to make a financial arrangement, both parents will need to agree:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>how much financial contributions will be</li>
        <li>when they will be paid</li>
        <li>how payments will be made</li>
    </ul>
<p>You could also agree to review or change your arrangement in the future.</p>


<p>You can view
    <a href="financial-case-study" target="_blank">how Claire and Mark made a financial arrangement.(opens in new window or tab)</a>
</p>


<p>If you need someone to help you to reach an agreement, ask a friend or family member, or 
    <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/"target="_blank">find a local mediator (opens in new window or tab) </a> to support you.</p>

    <p>Many separated parents write down what they have agreed to, so they have something to refer to.</p>

    <p>If you want to make your agreement legally binding, you can ask a court to formalise it with a
         consent order or minute of agreement. This means the agreement can be enforced through the courts
          if either parent doesn’t do what has been agreed.</p>
    </div>
    </div>

{% endblock %}