{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/" %} 
{% block pageTitle %} 
{{ serviceName }} - What is child maintenance?
{% endblock %} 

{% block beforeContent %} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: '' }) }} 
{% endblock%} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">What is child maintenance?</h1>

<p>Child maintenance is financial support to help pay for your child's everyday living costs when you are 
  separated from the other parent.</p>

<p>Both parents are legally responsible for the financial costs of raising their children, even if they don’t see them.</p>
<p>A child maintenance arrangement can help to give your child the best start in life, and can help you to work together
   as parents.</p>
<p>How you arrange child maintenance will depend on your circumstances.</p> <p>You can make an arrangement yourselves with no-one else involved.
   There are tools and information available to help.</p>

<p>Continue to <a href="1">making an arrangement </a>for tools and information about Child Maintenance Arrangements.</p>
 
</div>
</div>
{% endblock %}