{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/" %} 
{% block pageTitle %} 
{{ serviceName }} - Helping someone with child maintenance
{% endblock %} 

{% block beforeContent %} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: '' }) }} 
{% endblock%} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">Helping someone with child maintenance</h1>
<p>Parents often turn to their friends and family for support when they are dealing with difficult events, such as a separation.
They might just need someone to listen to them or they might be looking for information and advice. They may even need you
to help them sort out child maintenance.</p>

<h2 class="govuk-heading-m">What sort of help do parents need?
</h2>

<p>Friends and family can be invaluable to parents coping with separation. You could be in a position to offer comfort, emotional
support, or practical help. You may also be able to help them take a balanced look at the situation and find the best solutions
for their needs.
</p>

<h3 class="govuk-heading-m">Helping someone talk about child maintenance
</h3>

<p>Some people find it difficult to talk to their child’s other parent. Your friend or relative might need some help with this.
</p>
<p>Having a conversation about arrangements for children will involve negotiation and communication. But these are things most
of us do every day. You might call them:
</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>talking and listening</li>
        <li>finding a compromise</li>
    </ul>


<p></p>
<p><a href="https://www.cmoptions.org/en/pdfs/refresh/helping-someone-you-know-aug-2015.pdf" target="_blank">This guide</a> can help you decide when and how to get involved and give support.</p>
    </div>
    </div>


    {% endblock %}