{% extends "layout.html" %} 
{% from "button/macro.njk" import govukButton %} 
{% from "radios/macro.njk" import govukRadios%} 
{% set serviceUrl = "/" %} 
{% block pageTitle %} 
{{ serviceName }} - Describe your current relationship with the other parent?
{% endblock %} 

{% block beforeContent %} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: '' }) }} 
{% endblock%} 

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Help managing conflict
</h1>
<p>If you’re still struggling to deal with conflict by yourself, think about getting someone to act as a “mediator” during conversations
with your child’s other parent. This could be a friend or relative, or a <a href="">professional mediator</a> or family lawyer.
</p>
<h2 class="govuk-heading-m">How mediation can help you
</h2>

<p>Mediation can:
</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>help you make decisions before or after you’ve separated or divorced.
</li>
        <li>help you both work together to decide what’s best for your child.
</li>
        <li>reduce conflict between you and your child’s other parent
</li>

<li>make a flexible, lasting agreement on issues such as child maintenance.
</li>

<li>be cheaper than going to court.
</li>
    </ul>
<h3 class="govuk-heading-m">The cost of mediation
</h3>

<p>It can be difficult to work out how much mediation might cost. If you qualify for legal aid, it could be free. But if you’re
paying for it yourself, the charges vary between different mediators. The costs of mediation can vary between England, Wales
and Scotland too.
</p>

<p>Don’t be afraid to ask for prices before agreeing to any mediation sessions. And remember that no matter how much it costs,
mediation will often be cheaper than going to court.
</p>

<h4 class="govuk-heading-m">If you can’t afford to pay for mediation
</h4>


<p>If you can’t afford to pay for professional mediation, and you can’t get it for free, then you could ask someone you know
to act as a mediator for you.
</p>


<p>They could help you to:
</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>avoid saying or doing things which might make the situation worse
</li>
        <li>keep everyone focused on what’s best for children
</li>
        <li>reach agreement with your child’s other parent
</li>
    </ul>

    <p>Make sure it’s someone that you trust and who you think can stay neutral.
</p>

<p>If you need more help you can
    <a href="phone">speak to one of our agents about your options.</a>
</p>

</div>
</div>
{% endblock %}