{% extends "layout.html" %} 
{% set serviceUrl = "/" %} 

{% block pageTitle %} 
{{ serviceName }} - Courts
{% endblock %} 

{% block beforeContent%} 
{{ govukPhaseBanner({ tag: { text: "PROTOTYPE V3" }, html: ''}) }} 
{% endblock %}

{%block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Speak to an agent</h1>

        <p>If making an arrangement could make you vulnerable, speak to one of our agents about your options for
        child maintenance.
</p>
<h2 class="govuk-heading-m">Child Maintenance helpline</h2>
<div class="govuk-inset-text">
    <p> Telephone: 0800 312 5690</p>
    <p> Welsh language 0800 222 1768</p>
    <p>Textphone: 0800 876 1454</p>
    <p>Monday to Friday, 8am to 6pm</p>
    <p><a href=".">Find out about call charges</a></p>
</div>        
</div>
        </div>
        {% endblock %}