
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: '',
    serviceUrl: "/",
    classes: "govuk-header__no-padding",
    containerClasses: "govuk-width-container govuk-header__container-no-blue"
  }) }}
{% endblock %}


{% block main %}

<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">{{ serviceName }}</h1>
            <p class="app-masthead__description">Prototypes</p>
        </div>
    </div>
  </div>
</div>

<div class="govuk-width-container app-site-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% include "alpha-prototype-1/prototype-info.njk" %}
      

      </div>
  </div>
</div>

{% endblock %}

