{% extends "layout.html" %} {% from "button/macro.njk" import govukButton %} {% from "radios/macro.njk" import govukRadios%}
{% set serviceUrl = "/alpha-prototype-4" %} {% block pageTitle %} {{ serviceName }} {% endblock %} {% block beforeContent%}
{{ govukPhaseBanner({ tag: { text: "BETA" }, html: 'This is a new service – your
<a href="q1" target="_blank">feedback</a> will help us to improve it.' }) }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" action="benefits-state-pension">

            {{ govukRadios({
                idPrefix: "paying-children",
                name: "paying-children",
                fieldset: { legend: { text: "How many people will you be paying child maintenance to?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl" } },
            hint: { text: "We call these people 'receiving parents'" },
            items: [ {
                value: "1",
                text: "1",
                checked: true if data['paying-children'] == "1" },
                {
                value: "2",
                text: "2",
                checked: true if data['paying-children'] == "2" },
                {
                value: "3",
                text: "3 or more",
                checked: true if data['paying-children'] == "3" }
            ] }) }}
             {{ govukButton({ text: "Continue" }) }}
        </form>

    </div>
</div>
{% endblock %}
